<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tallents Colection</title>
    <link rel="stylesheet" href="/stylesheets/headLine.css">
    <link rel="stylesheet" href="/stylesheets/popup.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/ui.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
</head>
<body>
<header class="fluid head">
    <div class="container">
        <div class="head-line">
            <div class="head-logo">
                <a href="/">
                    <img src="/images/Logo.png" alt="Logo">
                </a>
            </div>
            <div class="head-section-menu">
                <nav>
                    <ul>
                        <li><a href="/talant" >таланти</a></li>
                        <li><a href="/project" >проекти</a></li>
                        <li><a href="/company" >компанії</a></li>
                        <li><a href="#" >робота</a></li>
                    </ul>
                </nav>
            </div>
            <div class="head-language">
                <select name="language" id="language">
                    <option selected="selected">Укр</option>
                    <option>Ру</option>
                    <option>En</option>
                </select>
            </div>
            <div class="head-section-auth">
                <div class="functions-item">
                    <label for="signin">
                        <span class="sign functions-item-signin">вхід</span>
                        <input id="signin" style="display: none" type="radio" name="sign">
                        <input id="closeSignin" style="display: none" type="radio" name="sign">
                        <div class="popup popup-signin">
                            <div class="popup-wrap">
                                <label for="closeSignin">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="30.8556" height="2" transform="translate(23.2324 1.41422) rotate(135)" fill="#C4C4C4"/>
                                        <rect width="30.8556" height="2" transform="translate(21.8184 23.2324) rotate(-135)" fill="#C4C4C4"/>
                                    </svg>
                                </label>
                                <div class="signup">
                                    <p class="signup-title">вхід</p>
                                    <p class="signup-des">Увійти через соціальні мережі</p>
                                    <p class="signup-subscribe subscribe">
                                        <a href="#">
                                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                                <g id="Ellipse">
                                                    <circle cx="24" cy="24" r="24" fill="#fff"/>
                                                </g>
                                                <g id="Vector">
                                                    <path d="M 12.4765 13.973L 8.62057 13.973L 8.62057 28L 2.77851 28L 2.77851 13.973L 1.05801e-07 13.973L 1.05801e-07 9.0434L 2.77851 9.0434L 2.77851 5.85337C 2.77851 3.57215 3.8698 1.86767e-07 8.67257 1.86767e-07L 13 0.0179772L 13 4.80303L 9.86017 4.80303C 9.34515 4.80303 8.62096 5.05854 8.62096 6.14674L 8.62096 9.04799L 12.9869 9.04799L 12.4765 13.973Z" transform="translate(17 11)" fill="#2A2E34"/>
                                                </g>
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                                <g id="Ellipse">
                                                    <circle cx="24" cy="24" r="24" fill="#FFD200"/>
                                                </g>
                                                <g id="Vector">
                                                    <path d="M 27 2.60446C 26.0069 3.046 24.9386 3.34463 23.8182 3.478C 24.9621 2.79085 25.84 1.70359 26.2543 0.405911C 25.184 1.04253 23.9979 1.50436 22.7367 1.75329C 21.7262 0.674311 20.2866 -5.0561e-08 18.6924 -5.0561e-08C 15.6337 -5.0561e-08 13.153 2.48724 13.153 5.55395C 13.153 5.98927 13.2021 6.41299 13.2972 6.81973C 8.69347 6.5882 4.61154 4.37722 1.87923 1.01602C 1.40251 1.83613 1.12903 2.79085 1.12903 3.80853C 1.12903 5.73495 2.10768 7.43564 3.59322 8.43137C 2.68562 8.40279 1.8309 8.15303 1.08441 7.73593C 1.084 7.75954 1.084 7.78315 1.084 7.80634C 1.084 10.4974 2.99422 12.7419 5.52782 13.2518C 5.06348 13.3793 4.57312 13.4469 4.06871 13.4469C 3.71096 13.4469 3.36436 13.4125 3.02644 13.3479C 3.7312 15.5539 5.77651 17.1597 8.20105 17.2049C 6.30487 18.6947 3.91669 19.5823 1.32071 19.5823C 0.874552 19.5823 0.432526 19.5562 2.64749e-07 19.5045C 2.45015 21.0809 5.36257 22 8.49063 22C 18.6796 22 24.2516 13.5372 24.2516 6.1972C 24.2516 5.95655 24.2462 5.71673 24.2355 5.47898C 25.3186 4.69615 26.2576 3.71823 27 2.60446Z" transform="translate(11 13)" fill="white"/>
                                                </g>
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                                <g id="Ellipse">
                                                    <circle cx="24" cy="24" r="24" fill="white"/>
                                                </g>
                                                <g id="Group">
                                                    <g id="Vector">
                                                        <path d="M 7.20741 14.4148C 11.2 14.4148 14.4148 11.2 14.4148 7.20741C 14.4148 3.21481 11.2 1.97799e-07 7.20741 1.97799e-07C 3.21481 1.97799e-07 1.97799e-07 3.21481 1.97799e-07 7.20741C 1.97799e-07 11.2 3.21481 14.4148 7.20741 14.4148ZM 7.20741 3.05926C 9.48889 3.05926 11.3556 4.92593 11.3556 7.20741C 11.3556 9.48889 9.48889 11.3556 7.20741 11.3556C 4.92593 11.3556 3.05926 9.48889 3.05926 7.20741C 3.05926 4.92593 4.92593 3.05926 7.20741 3.05926Z" transform="translate(16.7926 16.7927)" fill="#282F3C"/>
                                                    </g>
                                                    <g id="Vector_2">
                                                        <path d="M 1.71111 3.42222C 2.64444 3.42222 3.42222 2.64444 3.42222 1.71111C 3.42222 0.777778 2.64444 -1.97799e-07 1.71111 -1.97799e-07C 0.777777 -1.97799e-07 0 0.777778 0 1.71111C 0 2.64444 0.777777 3.42222 1.71111 3.42222Z" transform="translate(29.7037 14.874)" fill="#282F3C"/>
                                                    </g>
                                                    <g id="Vector_3">
                                                        <path d="M 7.05185 28L 20.9481 28C 24.837 28 28 24.837 28 20.9481L 28 7.05185C 28 3.16296 24.837 0 20.9481 0L 7.05185 0C 3.16296 0 0 3.16296 0 7.05185L 0 20.9481C 0 24.837 3.16296 28 7.05185 28ZM 3.05926 7.05185C 3.05926 4.82222 4.87407 3.05926 7.05185 3.05926L 20.9481 3.05926C 23.1778 3.05926 24.9407 4.87407 24.9407 7.05185L 24.9407 20.9481C 24.9407 23.1778 23.1259 24.9407 20.9481 24.9407L 7.05185 24.9407C 4.82222 24.9407 3.05926 23.1259 3.05926 20.9481L 3.05926 7.05185Z" transform="translate(10 10)" fill="#282F3C"/>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                                <g id="Ellipse">
                                                    <circle cx="24" cy="24" r="24" fill="white"/>
                                                </g>
                                                <g id="viber">
                                                    <g id="XMLID 8">
                                                        <path d="M 9.46977 8.17693C 9.50309 4.22929 6.17367 0.610346 2.048 0.109913C 1.96594 0.100087 1.87656 0.08513 1.78193 0.069304C 1.57768 0.0351302 1.36646 1.08801e-07 1.15335 1.08801e-07C 0.307774 1.08801e-07 0.0817424 0.599824 0.0222422 0.957562C -0.0356219 1.30539 0.0195722 1.59747 0.186018 1.82608C 0.466039 2.2106 0.958746 2.27886 1.3545 2.33356C 1.47048 2.34973 1.57992 2.36478 1.67154 2.38556C 5.37829 3.22199 6.62642 4.53703 7.2364 8.2485C 7.2513 8.33919 7.25801 8.45093 7.26516 8.56945C 7.29177 9.0131 7.34722 9.93614 8.32988 9.93614L 8.32997 9.93614C 8.41177 9.93614 8.49968 9.92901 8.59122 9.91493C 9.50628 9.77449 9.4776 8.93076 9.46383 8.52537C 9.45995 8.41119 9.45625 8.30319 9.46581 8.23137C 9.46839 8.21328 9.46968 8.19511 9.46977 8.17693Z" transform="translate(23.8848 14.5729)" fill="#282F3C"/>
                                                    </g>
                                                    <g id="XMLID 9">
                                                        <path d="M 1.34651 2.23373C 1.4563 2.24173 1.56023 2.24938 1.64677 2.26278C 7.73361 3.20808 10.5329 6.12042 11.3086 12.3154C 11.3218 12.4207 11.3239 12.5491 11.326 12.6851C 11.3338 13.1691 11.3497 14.176 12.4204 14.1968L 12.4537 14.1972C 12.7895 14.1972 13.0566 14.0949 13.2477 13.893C 13.581 13.5409 13.5577 13.0179 13.539 12.5975C 13.5344 12.4944 13.53 12.3973 13.5311 12.3122C 13.6085 5.97642 8.17775 0.23113 1.9094 0.0174782C 1.88339 0.0166086 1.8586 0.0179999 1.83354 0.0215652C 1.82122 0.0233912 1.79841 0.0256521 1.75931 0.0256521C 1.6968 0.0256521 1.61991 0.0201739 1.53836 0.0146087C 1.43977 0.00782606 1.328 0 1.21469 0C 0.216443 0 0.0266612 0.71652 0.00237892 1.14365C -0.0535909 2.13078 0.89204 2.20025 1.34651 2.23373Z" transform="translate(23.4517 11)" fill="#282F3C"/>
                                                    </g>
                                                    <g id="XMLID 10">
                                                        <path d="M 24.4666 18.9284C 24.3372 18.8286 24.2034 18.7253 24.0781 18.6234C 23.4135 18.0833 22.7065 17.5855 22.0227 17.104C 21.8808 17.0042 21.7389 16.9043 21.5975 16.8041C 20.7217 16.1828 19.9342 15.8809 19.1902 15.8809C 18.1882 15.8809 17.3146 16.44 16.5935 17.5425C 16.274 18.0313 15.8865 18.269 15.4088 18.269C 15.1264 18.269 14.8055 18.1876 14.4551 18.027C 11.6279 16.7323 9.60916 14.7472 8.45472 12.127C 7.89666 10.8605 8.07757 10.0327 9.05971 9.35898C 9.61743 8.97672 10.6555 8.26507 10.582 6.9023C 10.4987 5.35473 7.11747 0.698314 5.69283 0.169446C 5.08964 -0.0545537 4.45589 -0.0566408 3.80578 0.164228C 2.16802 0.720226 0.992743 1.69666 0.406696 2.98778C -0.159631 4.23535 -0.134058 5.70021 0.480663 7.22403C 2.25775 11.6298 4.75624 15.471 7.90699 18.6408C 10.991 21.7437 14.7815 24.2855 19.1732 26.1951C 19.569 26.3671 19.9842 26.4609 20.2874 26.5294C 20.3907 26.5528 20.48 26.5728 20.545 26.5908C 20.5807 26.6007 20.6176 26.606 20.6545 26.6063L 20.6892 26.6065C 20.6893 26.6065 20.6892 26.6065 20.6894 26.6065C 22.7549 26.6065 25.2351 24.7004 25.9968 22.5274C 26.6641 20.6246 25.4457 19.6841 24.4666 18.9284Z" transform="translate(10 12.3934)" fill="#282F3C"/>
                                                    </g>
                                                    <g id="XMLID 11">
                                                        <path d="M 1.42879 0.000760888C 1.07514 0.00980434 0.339183 0.0282387 0.0809476 0.785193C -0.039861 1.13893 -0.025395 1.44606 0.124001 1.69806C 0.343231 2.0678 0.763263 2.1811 1.14532 2.24328C 2.53087 2.4678 3.24247 3.24153 3.3848 4.67805C 3.45093 5.34787 3.89757 5.81561 4.47105 5.81561L 4.47113 5.81561C 4.5135 5.81561 4.55681 5.81309 4.59995 5.80779C 5.28967 5.72492 5.62402 5.21318 5.5938 4.28692C 5.60482 3.32023 5.10385 2.22275 4.25182 1.34858C 3.39686 0.471716 2.36624 -0.0221086 1.42879 0.000760888Z" transform="translate(24.2831 18.2657)" fill="#282F3C"/>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    </p>
                                    <form action="/" class="signup-form">
                                        <p><input type="email" placeholder="E-mail"></p>
                                        <p><input type="password" placeholder="Пароль"></p>
                                        <div>
                                            <div class="checkRools">
                                                <input id="rools3" style="display: none" type="checkbox">
                                                <label for="rools3" class="viewinput">
                                                    <span></span>
                                                </label>
                                                <p>
                                                    Запам'ятати мене на цьому пристрої.
                                                </p>
                                            </div>
                                        </div>

                                        <p><button type="submit" class="btn">вхід</button></p>
                                        <p class="signin-link"><label for="signup">Реєстрація</label><span>Забули пароль?</span></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="functions-item">
                    <label for="signup">
                        <span class="sign functions-item-signup">реєстрація</span>
                        <input id="signup" style="display: none" type="radio" name="sign">
                        <input id="closeSignup" style="display: none" type="radio" name="sign">
                        <div class="popup popup-signup">
                            <div class="popup-wrap">
                                <label for="closeSignup">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="30.8556" height="2" transform="translate(23.2324 1.41422) rotate(135)" fill="#C4C4C4"/>
                                        <rect width="30.8556" height="2" transform="translate(21.8184 23.2324) rotate(-135)" fill="#C4C4C4"/>
                                    </svg>
                                </label>
                                <div class="signup">
                                    <p class="signup-title">Реєстрація</p>
                                    <p class="signup-des">Зареєструватися через соціальні мережі</p>
                                    <p class="signup-subscribe subscribe">
                                        <a href="#">
                                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                                <g id="Ellipse">
                                                    <circle cx="24" cy="24" r="24" fill="#fff"/>
                                                </g>
                                                <g id="Vector">
                                                    <path d="M 12.4765 13.973L 8.62057 13.973L 8.62057 28L 2.77851 28L 2.77851 13.973L 1.05801e-07 13.973L 1.05801e-07 9.0434L 2.77851 9.0434L 2.77851 5.85337C 2.77851 3.57215 3.8698 1.86767e-07 8.67257 1.86767e-07L 13 0.0179772L 13 4.80303L 9.86017 4.80303C 9.34515 4.80303 8.62096 5.05854 8.62096 6.14674L 8.62096 9.04799L 12.9869 9.04799L 12.4765 13.973Z" transform="translate(17 11)" fill="#2A2E34"/>
                                                </g>
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                                <g id="Ellipse">
                                                    <circle cx="24" cy="24" r="24" fill="#FFD200"/>
                                                </g>
                                                <g id="Vector">
                                                    <path d="M 27 2.60446C 26.0069 3.046 24.9386 3.34463 23.8182 3.478C 24.9621 2.79085 25.84 1.70359 26.2543 0.405911C 25.184 1.04253 23.9979 1.50436 22.7367 1.75329C 21.7262 0.674311 20.2866 -5.0561e-08 18.6924 -5.0561e-08C 15.6337 -5.0561e-08 13.153 2.48724 13.153 5.55395C 13.153 5.98927 13.2021 6.41299 13.2972 6.81973C 8.69347 6.5882 4.61154 4.37722 1.87923 1.01602C 1.40251 1.83613 1.12903 2.79085 1.12903 3.80853C 1.12903 5.73495 2.10768 7.43564 3.59322 8.43137C 2.68562 8.40279 1.8309 8.15303 1.08441 7.73593C 1.084 7.75954 1.084 7.78315 1.084 7.80634C 1.084 10.4974 2.99422 12.7419 5.52782 13.2518C 5.06348 13.3793 4.57312 13.4469 4.06871 13.4469C 3.71096 13.4469 3.36436 13.4125 3.02644 13.3479C 3.7312 15.5539 5.77651 17.1597 8.20105 17.2049C 6.30487 18.6947 3.91669 19.5823 1.32071 19.5823C 0.874552 19.5823 0.432526 19.5562 2.64749e-07 19.5045C 2.45015 21.0809 5.36257 22 8.49063 22C 18.6796 22 24.2516 13.5372 24.2516 6.1972C 24.2516 5.95655 24.2462 5.71673 24.2355 5.47898C 25.3186 4.69615 26.2576 3.71823 27 2.60446Z" transform="translate(11 13)" fill="white"/>
                                                </g>
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                                <g id="Ellipse">
                                                    <circle cx="24" cy="24" r="24" fill="white"/>
                                                </g>
                                                <g id="Group">
                                                    <g id="Vector">
                                                        <path d="M 7.20741 14.4148C 11.2 14.4148 14.4148 11.2 14.4148 7.20741C 14.4148 3.21481 11.2 1.97799e-07 7.20741 1.97799e-07C 3.21481 1.97799e-07 1.97799e-07 3.21481 1.97799e-07 7.20741C 1.97799e-07 11.2 3.21481 14.4148 7.20741 14.4148ZM 7.20741 3.05926C 9.48889 3.05926 11.3556 4.92593 11.3556 7.20741C 11.3556 9.48889 9.48889 11.3556 7.20741 11.3556C 4.92593 11.3556 3.05926 9.48889 3.05926 7.20741C 3.05926 4.92593 4.92593 3.05926 7.20741 3.05926Z" transform="translate(16.7926 16.7927)" fill="#282F3C"/>
                                                    </g>
                                                    <g id="Vector_2">
                                                        <path d="M 1.71111 3.42222C 2.64444 3.42222 3.42222 2.64444 3.42222 1.71111C 3.42222 0.777778 2.64444 -1.97799e-07 1.71111 -1.97799e-07C 0.777777 -1.97799e-07 0 0.777778 0 1.71111C 0 2.64444 0.777777 3.42222 1.71111 3.42222Z" transform="translate(29.7037 14.874)" fill="#282F3C"/>
                                                    </g>
                                                    <g id="Vector_3">
                                                        <path d="M 7.05185 28L 20.9481 28C 24.837 28 28 24.837 28 20.9481L 28 7.05185C 28 3.16296 24.837 0 20.9481 0L 7.05185 0C 3.16296 0 0 3.16296 0 7.05185L 0 20.9481C 0 24.837 3.16296 28 7.05185 28ZM 3.05926 7.05185C 3.05926 4.82222 4.87407 3.05926 7.05185 3.05926L 20.9481 3.05926C 23.1778 3.05926 24.9407 4.87407 24.9407 7.05185L 24.9407 20.9481C 24.9407 23.1778 23.1259 24.9407 20.9481 24.9407L 7.05185 24.9407C 4.82222 24.9407 3.05926 23.1259 3.05926 20.9481L 3.05926 7.05185Z" transform="translate(10 10)" fill="#282F3C"/>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                                <g id="Ellipse">
                                                    <circle cx="24" cy="24" r="24" fill="white"/>
                                                </g>
                                                <g id="viber">
                                                    <g id="XMLID 8">
                                                        <path d="M 9.46977 8.17693C 9.50309 4.22929 6.17367 0.610346 2.048 0.109913C 1.96594 0.100087 1.87656 0.08513 1.78193 0.069304C 1.57768 0.0351302 1.36646 1.08801e-07 1.15335 1.08801e-07C 0.307774 1.08801e-07 0.0817424 0.599824 0.0222422 0.957562C -0.0356219 1.30539 0.0195722 1.59747 0.186018 1.82608C 0.466039 2.2106 0.958746 2.27886 1.3545 2.33356C 1.47048 2.34973 1.57992 2.36478 1.67154 2.38556C 5.37829 3.22199 6.62642 4.53703 7.2364 8.2485C 7.2513 8.33919 7.25801 8.45093 7.26516 8.56945C 7.29177 9.0131 7.34722 9.93614 8.32988 9.93614L 8.32997 9.93614C 8.41177 9.93614 8.49968 9.92901 8.59122 9.91493C 9.50628 9.77449 9.4776 8.93076 9.46383 8.52537C 9.45995 8.41119 9.45625 8.30319 9.46581 8.23137C 9.46839 8.21328 9.46968 8.19511 9.46977 8.17693Z" transform="translate(23.8848 14.5729)" fill="#282F3C"/>
                                                    </g>
                                                    <g id="XMLID 9">
                                                        <path d="M 1.34651 2.23373C 1.4563 2.24173 1.56023 2.24938 1.64677 2.26278C 7.73361 3.20808 10.5329 6.12042 11.3086 12.3154C 11.3218 12.4207 11.3239 12.5491 11.326 12.6851C 11.3338 13.1691 11.3497 14.176 12.4204 14.1968L 12.4537 14.1972C 12.7895 14.1972 13.0566 14.0949 13.2477 13.893C 13.581 13.5409 13.5577 13.0179 13.539 12.5975C 13.5344 12.4944 13.53 12.3973 13.5311 12.3122C 13.6085 5.97642 8.17775 0.23113 1.9094 0.0174782C 1.88339 0.0166086 1.8586 0.0179999 1.83354 0.0215652C 1.82122 0.0233912 1.79841 0.0256521 1.75931 0.0256521C 1.6968 0.0256521 1.61991 0.0201739 1.53836 0.0146087C 1.43977 0.00782606 1.328 0 1.21469 0C 0.216443 0 0.0266612 0.71652 0.00237892 1.14365C -0.0535909 2.13078 0.89204 2.20025 1.34651 2.23373Z" transform="translate(23.4517 11)" fill="#282F3C"/>
                                                    </g>
                                                    <g id="XMLID 10">
                                                        <path d="M 24.4666 18.9284C 24.3372 18.8286 24.2034 18.7253 24.0781 18.6234C 23.4135 18.0833 22.7065 17.5855 22.0227 17.104C 21.8808 17.0042 21.7389 16.9043 21.5975 16.8041C 20.7217 16.1828 19.9342 15.8809 19.1902 15.8809C 18.1882 15.8809 17.3146 16.44 16.5935 17.5425C 16.274 18.0313 15.8865 18.269 15.4088 18.269C 15.1264 18.269 14.8055 18.1876 14.4551 18.027C 11.6279 16.7323 9.60916 14.7472 8.45472 12.127C 7.89666 10.8605 8.07757 10.0327 9.05971 9.35898C 9.61743 8.97672 10.6555 8.26507 10.582 6.9023C 10.4987 5.35473 7.11747 0.698314 5.69283 0.169446C 5.08964 -0.0545537 4.45589 -0.0566408 3.80578 0.164228C 2.16802 0.720226 0.992743 1.69666 0.406696 2.98778C -0.159631 4.23535 -0.134058 5.70021 0.480663 7.22403C 2.25775 11.6298 4.75624 15.471 7.90699 18.6408C 10.991 21.7437 14.7815 24.2855 19.1732 26.1951C 19.569 26.3671 19.9842 26.4609 20.2874 26.5294C 20.3907 26.5528 20.48 26.5728 20.545 26.5908C 20.5807 26.6007 20.6176 26.606 20.6545 26.6063L 20.6892 26.6065C 20.6893 26.6065 20.6892 26.6065 20.6894 26.6065C 22.7549 26.6065 25.2351 24.7004 25.9968 22.5274C 26.6641 20.6246 25.4457 19.6841 24.4666 18.9284Z" transform="translate(10 12.3934)" fill="#282F3C"/>
                                                    </g>
                                                    <g id="XMLID 11">
                                                        <path d="M 1.42879 0.000760888C 1.07514 0.00980434 0.339183 0.0282387 0.0809476 0.785193C -0.039861 1.13893 -0.025395 1.44606 0.124001 1.69806C 0.343231 2.0678 0.763263 2.1811 1.14532 2.24328C 2.53087 2.4678 3.24247 3.24153 3.3848 4.67805C 3.45093 5.34787 3.89757 5.81561 4.47105 5.81561L 4.47113 5.81561C 4.5135 5.81561 4.55681 5.81309 4.59995 5.80779C 5.28967 5.72492 5.62402 5.21318 5.5938 4.28692C 5.60482 3.32023 5.10385 2.22275 4.25182 1.34858C 3.39686 0.471716 2.36624 -0.0221086 1.42879 0.000760888Z" transform="translate(24.2831 18.2657)" fill="#282F3C"/>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    </p>
                                    <form action="/" class="signup-form">
                                        <p><input type="text" placeholder="Ім'я"></p>
                                        <p><input type="email" placeholder="E-mail"></p>
                                        <p><input type="password" placeholder="Пароль"></p>
                                        <p><input type="password" placeholder="Підтвердіть пароль"></p>
                                        <div>
                                            <div class="checkRools">
                                                <input id="rools" style="display: none" type="checkbox">
                                                <label for="rools" class="viewinput">
                                                    <span></span>
                                                </label>
                                                <p>
                                                    Я ознайомився і погоджуюся із <span class="link rools">правилами</span> порталу
                                                </p>
                                            </div>
                                        </div>

                                        <p><button type="submit" class="btn">реєстрація</button></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="wrap" id="fullpage">
    <div data-anchor="first" class="fluid section section1">
        <div class="container">
            <div class="section1-info">
                <section class="section1-info-text">
                    <h1>СТАНЬ ВІДОМИМ-</h1>
                    <h2>ЗАРОБЛЯЙ СВОЇМ ТАЛАНТОМ!</h2>
                </section>
                <div class="section1-info-buttons">
                    <a href="#" class="btn section1-info-buttons-1">Дізнайся як</a>
                    <label for="signup" class=" btn section1-info-buttons-2">реєстрація</label>
                </div>
                <div class="section1-info-link">
                    <a href="#">Для продюсера / Кастинг-директора</a>
                </div>
            </div>
            <div class="bg"></div>
        </div>
    </div>
    <div data-anchor="second" class="fluid section section2">
        <div class="bgt">ACTORS</div>
        <div class="container">
            <div class="section2-info">
                <div class="section2-info-title">
                    <span class="section2-info-title-1">TALENTS</span>
                    <span class="section2-info-title-2">COLLECTION</span>
                </div>
                <div class="section2-info-des">
                    Платформа для акторів, моделей, музикантів,
                    танцюристів, фотографів
                    та інших талановитих людей.
                </div>
                <a href="#" class="btn">Долучитися</a>
            </div>
            <div class="section2-bg">
                <div class="section2-bg-1 section2-bg-shape">
                    <span class="section2-bg-1-num">1800</span>
                    <span class="section2-bg-1-tit">музикантів</span>
                </div>
                <div class="section2-bg-2 section2-bg-shape">
                    <span class="section2-bg-2-num">1000</span>
                    <span class="section2-bg-2-tit">танцюристів</span>
                </div>
                <div class="section2-bg-3 section2-bg-shape">
                    <span class="section2-bg-3-num">3500</span>
                    <span class="section2-bg-3-tit">моделей</span>
                </div>
                <div class="section2-bg-4 section2-bg-shape">
                    <span class="section2-bg-4-num">8300</span>
                    <span class="section2-bg-4-tit">акторів</span>
                </div>
            </div>
            <div class="section2-bgB">
            </div>
        </div>
    </div>
    <div data-anchor="third" class="fluid section section3">
        <div class="bgt">CASTING</div>
        <div class="container">
            <section class="section3-des">
                <p class="section3-des-p">Твої можливості з</p>
                <h1><span class="section3-des-1">talents</span><span class="section3-des-2">collection</span></h1>
            </section>
            <div class="section3-infoes">
                <div class="section3-info section3-info-a">
                    <div class="section3-info-title">
                        Розмісти своє портфолію
                    </div>
                    <div class="section3-info-img section3-info-img-1"></div>
                </div>
                <div class="section3-info section3-info-b">
                    <div class="section3-info-title">
                        Дізнавайся про кастинги, вакансії та конкурси
                    </div>
                    <div class="section3-info-img section3-info-img-2"></div>
                </div>
                <div class="section3-info section3-info-a">
                    <div class="section3-info-title">
                        Залучай кошти для своїх творчих проектів
                    </div>
                    <div class="section3-info-img section3-info-img-3"></div>
                </div>
                <div class="section3-info section3-info-b">
                    <div class="section3-info-title ">
                        Знайди підтримку від фанів та спонсорів
                    </div>
                    <div class="section3-info-img section3-info-img-4"></div>
                </div>
                <div class="section3-info section3-info-a">
                    <div class="section3-info-title">
                        Продавай свій унікальний контент
                    </div>
                    <div class="section3-info-img section3-info-img-5"></div>
                </div>
                <div class="section3-info section3-info-b">
                    <div class="section3-info-title">
                        Отримуй замовлення через сайт
                    </div>
                    <div class="section3-info-img section3-info-img-6"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-anchor="forth" class="fluid section section4">
        <div class="bgt">FAMOUS</div>
        <div class="container">
            <div class="section4-info">
                <section class="section4-des">
                    <p>наші</p>
                    <h2>зіркові користувачі</h2>
                </section>
                <a class="btn" href="#">стати зіркою</a>
            </div>
            <div class="slider">
                    <div class="slid">
                        <div class="slid-img">
                            <img src="/images/slid1.png" alt="slid img">
                        </div>
                        <div class="slid-attr">
                            <span class="slid-title">ВИКТОРИЯ ретивова</span>
                            <span class="slid-des">Відео та Кіно</span>
                        </div>
                    </div>
                    <div class="slid">
                        <div class="slid-img">
                            <img src="/images/slid2.png" alt="slid img">
                        </div>
                        <div class="slid-attr">
                            <span class="slid-title">антон зимин</span>
                            <span class="slid-des">Відео та Кіно</span>
                        </div>
                    </div>
                    <div class="slid">
                        <div class="slid-img">
                            <img src="/images/slid3.png" alt="slid img">
                        </div>
                        <div class="slid-attr">
                            <span class="slid-title">ирина майорова</span>
                            <span class="slid-des">Фотомодель</span>
                        </div>
                    </div>
                    <div class="slid">
                        <div class="slid-img">
                            <img src="/images/slid4.png" alt="slid img">
                        </div>
                        <div class="slid-attr">
                            <span class="slid-title">Double smile</span>
                            <span class="slid-des">Вокал</span>
                        </div>
                    </div>
            </div>

            <div class="section4-bg"></div>
        </div>

    </div>
    <div data-anchor="fifth" class="fluid section section5">
        <div class="bgt">producer</div>
        <div class="container">
            <section class="section5-des">
                <p>для</p>
                <h2>продюсера, кастинг-директора</h2>
                <p>це ...</p>
            </section>
            <div class="section5-ilustrate">
                <div class="slid f">
                    <div class="slid-img">
                        <img src="/images/ico1.png" alt="ico">
                    </div>
                    <div class="slid-des">
                        Створення власної сторінки - презентації
                    </div>
                </div>
                <div class="slid s">
                    <div class="slid-img">
                        <img src="/images/ico2.png" alt="ico">
                    </div>
                    <div class="slid-des">
                        Розміщення кастингів, вакансій та конкурсів
                    </div>
                </div>
                <div class="slid f">
                    <div class="slid-img">
                        <img src="/images/ico3.png" alt="ico">
                    </div>
                    <div class="slid-des">
                        Залучення коштів для творчих проектів
                    </div>
                </div>
                <div class="slid s">
                    <div class="slid-img">
                        <img src="/images/ico4.png" alt="ico">
                    </div>
                    <div class="slid-des">
                        Створення власної сторінки - презентації
                    </div>
                </div>
                <div class="slid f">
                    <div class="slid-img">
                        <img src="/images/ico5.png" alt="ico">
                    </div>
                    <div class="slid-des">
                        Створення власної сторінки - презентації
                    </div>
                </div>
                <div class="slid s">
                    <div class="slid-img">
                        <img src="/images/ico6.png" alt="ico">
                    </div>
                    <div class="slid-des">
                        Створення власної сторінки - презентації
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-anchor="sixth" class="fluid section section6">
        <div class="bgt">collection</div>
        <div class="container">
            <div class="section6-info">
                <div class="section6-info-title">
                    <span class="section6-info-title-1">TALENTS</span>
                    <span class="section6-info-title-2">COLLECTION</span>
                </div>
                <div class="section6-info-des">
                    Відкрий свій талант світу
                </div>
                <div class="section6-info-subscribe">
                    <a href="#">
                        <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                            <g id="Ellipse">
                                <circle cx="24" cy="24" r="24" fill="#fff"/>
                            </g>
                            <g id="Vector">
                                <path d="M 12.4765 13.973L 8.62057 13.973L 8.62057 28L 2.77851 28L 2.77851 13.973L 1.05801e-07 13.973L 1.05801e-07 9.0434L 2.77851 9.0434L 2.77851 5.85337C 2.77851 3.57215 3.8698 1.86767e-07 8.67257 1.86767e-07L 13 0.0179772L 13 4.80303L 9.86017 4.80303C 9.34515 4.80303 8.62096 5.05854 8.62096 6.14674L 8.62096 9.04799L 12.9869 9.04799L 12.4765 13.973Z" transform="translate(17 11)" fill="#2A2E34"/>
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                            <g id="Ellipse">
                                <circle cx="24" cy="24" r="24" fill="#FFD200"/>
                            </g>
                            <g id="Vector">
                                <path d="M 27 2.60446C 26.0069 3.046 24.9386 3.34463 23.8182 3.478C 24.9621 2.79085 25.84 1.70359 26.2543 0.405911C 25.184 1.04253 23.9979 1.50436 22.7367 1.75329C 21.7262 0.674311 20.2866 -5.0561e-08 18.6924 -5.0561e-08C 15.6337 -5.0561e-08 13.153 2.48724 13.153 5.55395C 13.153 5.98927 13.2021 6.41299 13.2972 6.81973C 8.69347 6.5882 4.61154 4.37722 1.87923 1.01602C 1.40251 1.83613 1.12903 2.79085 1.12903 3.80853C 1.12903 5.73495 2.10768 7.43564 3.59322 8.43137C 2.68562 8.40279 1.8309 8.15303 1.08441 7.73593C 1.084 7.75954 1.084 7.78315 1.084 7.80634C 1.084 10.4974 2.99422 12.7419 5.52782 13.2518C 5.06348 13.3793 4.57312 13.4469 4.06871 13.4469C 3.71096 13.4469 3.36436 13.4125 3.02644 13.3479C 3.7312 15.5539 5.77651 17.1597 8.20105 17.2049C 6.30487 18.6947 3.91669 19.5823 1.32071 19.5823C 0.874552 19.5823 0.432526 19.5562 2.64749e-07 19.5045C 2.45015 21.0809 5.36257 22 8.49063 22C 18.6796 22 24.2516 13.5372 24.2516 6.1972C 24.2516 5.95655 24.2462 5.71673 24.2355 5.47898C 25.3186 4.69615 26.2576 3.71823 27 2.60446Z" transform="translate(11 13)" fill="white"/>
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                            <g id="Ellipse">
                                <circle cx="24" cy="24" r="24" fill="white"/>
                            </g>
                            <g id="Group">
                                <g id="Vector">
                                    <path d="M 7.20741 14.4148C 11.2 14.4148 14.4148 11.2 14.4148 7.20741C 14.4148 3.21481 11.2 1.97799e-07 7.20741 1.97799e-07C 3.21481 1.97799e-07 1.97799e-07 3.21481 1.97799e-07 7.20741C 1.97799e-07 11.2 3.21481 14.4148 7.20741 14.4148ZM 7.20741 3.05926C 9.48889 3.05926 11.3556 4.92593 11.3556 7.20741C 11.3556 9.48889 9.48889 11.3556 7.20741 11.3556C 4.92593 11.3556 3.05926 9.48889 3.05926 7.20741C 3.05926 4.92593 4.92593 3.05926 7.20741 3.05926Z" transform="translate(16.7926 16.7927)" fill="#282F3C"/>
                                </g>
                                <g id="Vector_2">
                                    <path d="M 1.71111 3.42222C 2.64444 3.42222 3.42222 2.64444 3.42222 1.71111C 3.42222 0.777778 2.64444 -1.97799e-07 1.71111 -1.97799e-07C 0.777777 -1.97799e-07 0 0.777778 0 1.71111C 0 2.64444 0.777777 3.42222 1.71111 3.42222Z" transform="translate(29.7037 14.874)" fill="#282F3C"/>
                                </g>
                                <g id="Vector_3">
                                    <path d="M 7.05185 28L 20.9481 28C 24.837 28 28 24.837 28 20.9481L 28 7.05185C 28 3.16296 24.837 0 20.9481 0L 7.05185 0C 3.16296 0 0 3.16296 0 7.05185L 0 20.9481C 0 24.837 3.16296 28 7.05185 28ZM 3.05926 7.05185C 3.05926 4.82222 4.87407 3.05926 7.05185 3.05926L 20.9481 3.05926C 23.1778 3.05926 24.9407 4.87407 24.9407 7.05185L 24.9407 20.9481C 24.9407 23.1778 23.1259 24.9407 20.9481 24.9407L 7.05185 24.9407C 4.82222 24.9407 3.05926 23.1259 3.05926 20.9481L 3.05926 7.05185Z" transform="translate(10 10)" fill="#282F3C"/>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                            <g id="Ellipse">
                                <circle cx="24" cy="24" r="24" fill="white"/>
                            </g>
                            <g id="viber">
                                <g id="XMLID 8">
                                    <path d="M 9.46977 8.17693C 9.50309 4.22929 6.17367 0.610346 2.048 0.109913C 1.96594 0.100087 1.87656 0.08513 1.78193 0.069304C 1.57768 0.0351302 1.36646 1.08801e-07 1.15335 1.08801e-07C 0.307774 1.08801e-07 0.0817424 0.599824 0.0222422 0.957562C -0.0356219 1.30539 0.0195722 1.59747 0.186018 1.82608C 0.466039 2.2106 0.958746 2.27886 1.3545 2.33356C 1.47048 2.34973 1.57992 2.36478 1.67154 2.38556C 5.37829 3.22199 6.62642 4.53703 7.2364 8.2485C 7.2513 8.33919 7.25801 8.45093 7.26516 8.56945C 7.29177 9.0131 7.34722 9.93614 8.32988 9.93614L 8.32997 9.93614C 8.41177 9.93614 8.49968 9.92901 8.59122 9.91493C 9.50628 9.77449 9.4776 8.93076 9.46383 8.52537C 9.45995 8.41119 9.45625 8.30319 9.46581 8.23137C 9.46839 8.21328 9.46968 8.19511 9.46977 8.17693Z" transform="translate(23.8848 14.5729)" fill="#282F3C"/>
                                </g>
                                <g id="XMLID 9">
                                    <path d="M 1.34651 2.23373C 1.4563 2.24173 1.56023 2.24938 1.64677 2.26278C 7.73361 3.20808 10.5329 6.12042 11.3086 12.3154C 11.3218 12.4207 11.3239 12.5491 11.326 12.6851C 11.3338 13.1691 11.3497 14.176 12.4204 14.1968L 12.4537 14.1972C 12.7895 14.1972 13.0566 14.0949 13.2477 13.893C 13.581 13.5409 13.5577 13.0179 13.539 12.5975C 13.5344 12.4944 13.53 12.3973 13.5311 12.3122C 13.6085 5.97642 8.17775 0.23113 1.9094 0.0174782C 1.88339 0.0166086 1.8586 0.0179999 1.83354 0.0215652C 1.82122 0.0233912 1.79841 0.0256521 1.75931 0.0256521C 1.6968 0.0256521 1.61991 0.0201739 1.53836 0.0146087C 1.43977 0.00782606 1.328 0 1.21469 0C 0.216443 0 0.0266612 0.71652 0.00237892 1.14365C -0.0535909 2.13078 0.89204 2.20025 1.34651 2.23373Z" transform="translate(23.4517 11)" fill="#282F3C"/>
                                </g>
                                <g id="XMLID 10">
                                    <path d="M 24.4666 18.9284C 24.3372 18.8286 24.2034 18.7253 24.0781 18.6234C 23.4135 18.0833 22.7065 17.5855 22.0227 17.104C 21.8808 17.0042 21.7389 16.9043 21.5975 16.8041C 20.7217 16.1828 19.9342 15.8809 19.1902 15.8809C 18.1882 15.8809 17.3146 16.44 16.5935 17.5425C 16.274 18.0313 15.8865 18.269 15.4088 18.269C 15.1264 18.269 14.8055 18.1876 14.4551 18.027C 11.6279 16.7323 9.60916 14.7472 8.45472 12.127C 7.89666 10.8605 8.07757 10.0327 9.05971 9.35898C 9.61743 8.97672 10.6555 8.26507 10.582 6.9023C 10.4987 5.35473 7.11747 0.698314 5.69283 0.169446C 5.08964 -0.0545537 4.45589 -0.0566408 3.80578 0.164228C 2.16802 0.720226 0.992743 1.69666 0.406696 2.98778C -0.159631 4.23535 -0.134058 5.70021 0.480663 7.22403C 2.25775 11.6298 4.75624 15.471 7.90699 18.6408C 10.991 21.7437 14.7815 24.2855 19.1732 26.1951C 19.569 26.3671 19.9842 26.4609 20.2874 26.5294C 20.3907 26.5528 20.48 26.5728 20.545 26.5908C 20.5807 26.6007 20.6176 26.606 20.6545 26.6063L 20.6892 26.6065C 20.6893 26.6065 20.6892 26.6065 20.6894 26.6065C 22.7549 26.6065 25.2351 24.7004 25.9968 22.5274C 26.6641 20.6246 25.4457 19.6841 24.4666 18.9284Z" transform="translate(10 12.3934)" fill="#282F3C"/>
                                </g>
                                <g id="XMLID 11">
                                    <path d="M 1.42879 0.000760888C 1.07514 0.00980434 0.339183 0.0282387 0.0809476 0.785193C -0.039861 1.13893 -0.025395 1.44606 0.124001 1.69806C 0.343231 2.0678 0.763263 2.1811 1.14532 2.24328C 2.53087 2.4678 3.24247 3.24153 3.3848 4.67805C 3.45093 5.34787 3.89757 5.81561 4.47105 5.81561L 4.47113 5.81561C 4.5135 5.81561 4.55681 5.81309 4.59995 5.80779C 5.28967 5.72492 5.62402 5.21318 5.5938 4.28692C 5.60482 3.32023 5.10385 2.22275 4.25182 1.34858C 3.39686 0.471716 2.36624 -0.0221086 1.42879 0.000760888Z" transform="translate(24.2831 18.2657)" fill="#282F3C"/>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="section6-info-footer">
                    © 2016 — 2017 Talents Collection. Всі права застережено.
                </div>
            </div>
            <div class="bg"></div>
            <div class="signupBlck">
                <div class="signup">
                    <p class="signup-title">Реєстрація</p>
                    <p class="signup-des">Зареєструватися через соціальні мережі</p>
                    <p class="signup-subscribe subscribe">
                        <a href="#">
                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                <g id="Ellipse">
                                    <circle cx="24" cy="24" r="24" fill="#fff"></circle>
                                </g>
                                <g id="Vector">
                                    <path d="M 12.4765 13.973L 8.62057 13.973L 8.62057 28L 2.77851 28L 2.77851 13.973L 1.05801e-07 13.973L 1.05801e-07 9.0434L 2.77851 9.0434L 2.77851 5.85337C 2.77851 3.57215 3.8698 1.86767e-07 8.67257 1.86767e-07L 13 0.0179772L 13 4.80303L 9.86017 4.80303C 9.34515 4.80303 8.62096 5.05854 8.62096 6.14674L 8.62096 9.04799L 12.9869 9.04799L 12.4765 13.973Z" transform="translate(17 11)" fill="#2A2E34"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                <g id="Ellipse">
                                    <circle cx="24" cy="24" r="24" fill="#FFD200"></circle>
                                </g>
                                <g id="Vector">
                                    <path d="M 27 2.60446C 26.0069 3.046 24.9386 3.34463 23.8182 3.478C 24.9621 2.79085 25.84 1.70359 26.2543 0.405911C 25.184 1.04253 23.9979 1.50436 22.7367 1.75329C 21.7262 0.674311 20.2866 -5.0561e-08 18.6924 -5.0561e-08C 15.6337 -5.0561e-08 13.153 2.48724 13.153 5.55395C 13.153 5.98927 13.2021 6.41299 13.2972 6.81973C 8.69347 6.5882 4.61154 4.37722 1.87923 1.01602C 1.40251 1.83613 1.12903 2.79085 1.12903 3.80853C 1.12903 5.73495 2.10768 7.43564 3.59322 8.43137C 2.68562 8.40279 1.8309 8.15303 1.08441 7.73593C 1.084 7.75954 1.084 7.78315 1.084 7.80634C 1.084 10.4974 2.99422 12.7419 5.52782 13.2518C 5.06348 13.3793 4.57312 13.4469 4.06871 13.4469C 3.71096 13.4469 3.36436 13.4125 3.02644 13.3479C 3.7312 15.5539 5.77651 17.1597 8.20105 17.2049C 6.30487 18.6947 3.91669 19.5823 1.32071 19.5823C 0.874552 19.5823 0.432526 19.5562 2.64749e-07 19.5045C 2.45015 21.0809 5.36257 22 8.49063 22C 18.6796 22 24.2516 13.5372 24.2516 6.1972C 24.2516 5.95655 24.2462 5.71673 24.2355 5.47898C 25.3186 4.69615 26.2576 3.71823 27 2.60446Z" transform="translate(11 13)" fill="white"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                <g id="Ellipse">
                                    <circle cx="24" cy="24" r="24" fill="white"></circle>
                                </g>
                                <g id="Group">
                                    <g id="Vector">
                                        <path d="M 7.20741 14.4148C 11.2 14.4148 14.4148 11.2 14.4148 7.20741C 14.4148 3.21481 11.2 1.97799e-07 7.20741 1.97799e-07C 3.21481 1.97799e-07 1.97799e-07 3.21481 1.97799e-07 7.20741C 1.97799e-07 11.2 3.21481 14.4148 7.20741 14.4148ZM 7.20741 3.05926C 9.48889 3.05926 11.3556 4.92593 11.3556 7.20741C 11.3556 9.48889 9.48889 11.3556 7.20741 11.3556C 4.92593 11.3556 3.05926 9.48889 3.05926 7.20741C 3.05926 4.92593 4.92593 3.05926 7.20741 3.05926Z" transform="translate(16.7926 16.7927)" fill="#282F3C"></path>
                                    </g>
                                    <g id="Vector_2">
                                        <path d="M 1.71111 3.42222C 2.64444 3.42222 3.42222 2.64444 3.42222 1.71111C 3.42222 0.777778 2.64444 -1.97799e-07 1.71111 -1.97799e-07C 0.777777 -1.97799e-07 0 0.777778 0 1.71111C 0 2.64444 0.777777 3.42222 1.71111 3.42222Z" transform="translate(29.7037 14.874)" fill="#282F3C"></path>
                                    </g>
                                    <g id="Vector_3">
                                        <path d="M 7.05185 28L 20.9481 28C 24.837 28 28 24.837 28 20.9481L 28 7.05185C 28 3.16296 24.837 0 20.9481 0L 7.05185 0C 3.16296 0 0 3.16296 0 7.05185L 0 20.9481C 0 24.837 3.16296 28 7.05185 28ZM 3.05926 7.05185C 3.05926 4.82222 4.87407 3.05926 7.05185 3.05926L 20.9481 3.05926C 23.1778 3.05926 24.9407 4.87407 24.9407 7.05185L 24.9407 20.9481C 24.9407 23.1778 23.1259 24.9407 20.9481 24.9407L 7.05185 24.9407C 4.82222 24.9407 3.05926 23.1259 3.05926 20.9481L 3.05926 7.05185Z" transform="translate(10 10)" fill="#282F3C"></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                                <g id="Ellipse">
                                    <circle cx="24" cy="24" r="24" fill="white"></circle>
                                </g>
                                <g id="viber">
                                    <g id="XMLID 8">
                                        <path d="M 9.46977 8.17693C 9.50309 4.22929 6.17367 0.610346 2.048 0.109913C 1.96594 0.100087 1.87656 0.08513 1.78193 0.069304C 1.57768 0.0351302 1.36646 1.08801e-07 1.15335 1.08801e-07C 0.307774 1.08801e-07 0.0817424 0.599824 0.0222422 0.957562C -0.0356219 1.30539 0.0195722 1.59747 0.186018 1.82608C 0.466039 2.2106 0.958746 2.27886 1.3545 2.33356C 1.47048 2.34973 1.57992 2.36478 1.67154 2.38556C 5.37829 3.22199 6.62642 4.53703 7.2364 8.2485C 7.2513 8.33919 7.25801 8.45093 7.26516 8.56945C 7.29177 9.0131 7.34722 9.93614 8.32988 9.93614L 8.32997 9.93614C 8.41177 9.93614 8.49968 9.92901 8.59122 9.91493C 9.50628 9.77449 9.4776 8.93076 9.46383 8.52537C 9.45995 8.41119 9.45625 8.30319 9.46581 8.23137C 9.46839 8.21328 9.46968 8.19511 9.46977 8.17693Z" transform="translate(23.8848 14.5729)" fill="#282F3C"></path>
                                    </g>
                                    <g id="XMLID 9">
                                        <path d="M 1.34651 2.23373C 1.4563 2.24173 1.56023 2.24938 1.64677 2.26278C 7.73361 3.20808 10.5329 6.12042 11.3086 12.3154C 11.3218 12.4207 11.3239 12.5491 11.326 12.6851C 11.3338 13.1691 11.3497 14.176 12.4204 14.1968L 12.4537 14.1972C 12.7895 14.1972 13.0566 14.0949 13.2477 13.893C 13.581 13.5409 13.5577 13.0179 13.539 12.5975C 13.5344 12.4944 13.53 12.3973 13.5311 12.3122C 13.6085 5.97642 8.17775 0.23113 1.9094 0.0174782C 1.88339 0.0166086 1.8586 0.0179999 1.83354 0.0215652C 1.82122 0.0233912 1.79841 0.0256521 1.75931 0.0256521C 1.6968 0.0256521 1.61991 0.0201739 1.53836 0.0146087C 1.43977 0.00782606 1.328 0 1.21469 0C 0.216443 0 0.0266612 0.71652 0.00237892 1.14365C -0.0535909 2.13078 0.89204 2.20025 1.34651 2.23373Z" transform="translate(23.4517 11)" fill="#282F3C"></path>
                                    </g>
                                    <g id="XMLID 10">
                                        <path d="M 24.4666 18.9284C 24.3372 18.8286 24.2034 18.7253 24.0781 18.6234C 23.4135 18.0833 22.7065 17.5855 22.0227 17.104C 21.8808 17.0042 21.7389 16.9043 21.5975 16.8041C 20.7217 16.1828 19.9342 15.8809 19.1902 15.8809C 18.1882 15.8809 17.3146 16.44 16.5935 17.5425C 16.274 18.0313 15.8865 18.269 15.4088 18.269C 15.1264 18.269 14.8055 18.1876 14.4551 18.027C 11.6279 16.7323 9.60916 14.7472 8.45472 12.127C 7.89666 10.8605 8.07757 10.0327 9.05971 9.35898C 9.61743 8.97672 10.6555 8.26507 10.582 6.9023C 10.4987 5.35473 7.11747 0.698314 5.69283 0.169446C 5.08964 -0.0545537 4.45589 -0.0566408 3.80578 0.164228C 2.16802 0.720226 0.992743 1.69666 0.406696 2.98778C -0.159631 4.23535 -0.134058 5.70021 0.480663 7.22403C 2.25775 11.6298 4.75624 15.471 7.90699 18.6408C 10.991 21.7437 14.7815 24.2855 19.1732 26.1951C 19.569 26.3671 19.9842 26.4609 20.2874 26.5294C 20.3907 26.5528 20.48 26.5728 20.545 26.5908C 20.5807 26.6007 20.6176 26.606 20.6545 26.6063L 20.6892 26.6065C 20.6893 26.6065 20.6892 26.6065 20.6894 26.6065C 22.7549 26.6065 25.2351 24.7004 25.9968 22.5274C 26.6641 20.6246 25.4457 19.6841 24.4666 18.9284Z" transform="translate(10 12.3934)" fill="#282F3C"></path>
                                    </g>
                                    <g id="XMLID 11">
                                        <path d="M 1.42879 0.000760888C 1.07514 0.00980434 0.339183 0.0282387 0.0809476 0.785193C -0.039861 1.13893 -0.025395 1.44606 0.124001 1.69806C 0.343231 2.0678 0.763263 2.1811 1.14532 2.24328C 2.53087 2.4678 3.24247 3.24153 3.3848 4.67805C 3.45093 5.34787 3.89757 5.81561 4.47105 5.81561L 4.47113 5.81561C 4.5135 5.81561 4.55681 5.81309 4.59995 5.80779C 5.28967 5.72492 5.62402 5.21318 5.5938 4.28692C 5.60482 3.32023 5.10385 2.22275 4.25182 1.34858C 3.39686 0.471716 2.36624 -0.0221086 1.42879 0.000760888Z" transform="translate(24.2831 18.2657)" fill="#282F3C"></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </p>
                    <form action="/" class="signup-form">
                        <p><input type="email" placeholder="E-mail"></p>
                        <p><input type="text" placeholder="Пароль"></p>
                        <p><input type="password" placeholder="Підтвю пароль"></p>
                        <div>
                            <div class="checkRools">
                                <input id="rools0" style="display: none" type="checkbox">
                                <label for="rools0" class="viewinput">
                                    <span></span>
                                </label>
                                <p>
                                    Я ознайомився і погоджуюся із <span class="link rools">правилами</span> порталу
                                </p>
                            </div>
                        </div>

                        <p><button type="submit" class="btn">реєстрація</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="fluid">
    <div id="navigation">
        <span class="first" data-menuanchor="first">
            <a href="#first"></a>
        </span>
        <span class="second" data-menuanchor="second"><a href="#second"></a></span>
        <span class="third" data-menuanchor="third"><a href="#third"></a></span>
        <span class="forth" data-menuanchor="forth"><a href="#forth"></a></span>
        <span class="fifth" data-menuanchor="fifth"><a href="#fifth"></a></span>
        <span class="sixth" data-menuanchor="sixth"><a href="#sixth"></a></span>
    </div>
</footer>

<script src="/javascripts/jQuery.js"></script>

<script src="libs/fullpage/jquery.easings.min.js"></script>
<script src="libs/fullpage/scrolloverflow.min.js"></script>
<script src="libs/fullpage/jquery.fullPage.min.js"></script>
<link href="libs/fullpage/jquery.fullPage.css" type="text/css" rel="stylesheet">

<script src="/javascripts/UI.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/init.js"></script>

</body>
</html>