<div class="text popupData-close">
    <div class="popupData-wrap">
        <div class="popupData-text popupData-info">
            <div class="popupData-text-name">
                <img class="popupData-text-name-img" src="/images/person1.png" alt="pics">
                <p class="popupData-text-name-title">Karina Marshova</p>
                <button class="btn close">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="30.8556" height="2" transform="translate(23.2324 1.41406) rotate(135)" fill="#C4C4C4"/>
                        <rect width="30.8556" height="2" transform="translate(21.8184 23.2324) rotate(-135)" fill="#C4C4C4"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="popupData-wrap">
        <div class="popupData-text popupData-info">

            <div class="popupData-text-buttons">
                <button class="btn s2 drk inselectText">
                    <span>
                        <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.37615 0.38413C8.49382 0.149042 8.73613 9.52471e-09 9.00097 9.52471e-09C9.26581 9.52471e-09 9.50851 0.149042 9.62579 0.38413L11.8668 4.87653C11.9682 5.07973 12.1647 5.22071 12.3918 5.25336L17.4036 5.9736C17.6665 6.01125 17.884 6.19333 17.9659 6.44263C18.0478 6.69193 17.9795 6.9662 17.7896 7.14904L14.1634 10.6462C13.9991 10.8044 13.9242 11.0326 13.9626 11.2562L14.8185 16.1941C14.8628 16.4531 14.756 16.7143 14.5408 16.8687C14.3261 17.0223 14.0422 17.0427 13.8069 16.9213L9.32406 14.5896C9.12135 14.484 8.87865 14.484 8.67555 14.5896L4.19271 16.9209C3.95816 17.0427 3.67351 17.0227 3.45877 16.8687C3.24402 16.7146 3.13684 16.4531 3.1815 16.1941L4.03737 11.2562C4.07621 11.0326 4.00087 10.8044 3.83661 10.6462L0.210412 7.14904C0.02052 6.96581 -0.0478256 6.69193 0.0341114 6.44263C0.116048 6.19333 0.3339 6.01125 0.596797 5.9736L5.60932 5.25336C5.83611 5.22071 6.0326 5.07973 6.13395 4.87615L8.37615 0.38413Z" fill="white"/>
                        </svg>
                    </span>
                    <span class="text">В ОБРАНЕ</span>
                </button>
                <button class="btn s2 drk">
                <span>
                    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.0451 7.17581H12.574V1.75845C12.574 0.791191 11.7946 0 10.8417 0H6.19937C5.24648 0 4.46701 0.791191 4.46701 1.75845V7.17585H0.954817C0.00192261 7.17585 -0.286904 7.7908 0.312812 8.54227L7.4094 17.4362C8.00919 18.1879 8.99041 18.1879 9.59013 17.4362L16.6872 8.54227C17.2869 7.79077 16.998 7.17581 16.0451 7.17581Z" fill="#282F3C"/>
                    </svg>
                </span>
                    <span class="text">СКАЧАТИ</span>
                </button>
                <div class="popupData-info-share-ico">
                    <a href="#">
                        <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                            <g id="Ellipse">
                                <circle cx="24" cy="24" r="24" fill="#fff"/>
                            </g>
                            <g id="Vector">
                                <path d="M 12.4765 13.973L 8.62057 13.973L 8.62057 28L 2.77851 28L 2.77851 13.973L 1.05801e-07 13.973L 1.05801e-07 9.0434L 2.77851 9.0434L 2.77851 5.85337C 2.77851 3.57215 3.8698 1.86767e-07 8.67257 1.86767e-07L 13 0.0179772L 13 4.80303L 9.86017 4.80303C 9.34515 4.80303 8.62096 5.05854 8.62096 6.14674L 8.62096 9.04799L 12.9869 9.04799L 12.4765 13.973Z" transform="translate(17 11)" fill="#2A2E34"/>
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                            <g id="Ellipse">
                                <circle cx="24" cy="24" r="24" fill="#FFD200"/>
                            </g>
                            <g id="Vector">
                                <path d="M 27 2.60446C 26.0069 3.046 24.9386 3.34463 23.8182 3.478C 24.9621 2.79085 25.84 1.70359 26.2543 0.405911C 25.184 1.04253 23.9979 1.50436 22.7367 1.75329C 21.7262 0.674311 20.2866 -5.0561e-08 18.6924 -5.0561e-08C 15.6337 -5.0561e-08 13.153 2.48724 13.153 5.55395C 13.153 5.98927 13.2021 6.41299 13.2972 6.81973C 8.69347 6.5882 4.61154 4.37722 1.87923 1.01602C 1.40251 1.83613 1.12903 2.79085 1.12903 3.80853C 1.12903 5.73495 2.10768 7.43564 3.59322 8.43137C 2.68562 8.40279 1.8309 8.15303 1.08441 7.73593C 1.084 7.75954 1.084 7.78315 1.084 7.80634C 1.084 10.4974 2.99422 12.7419 5.52782 13.2518C 5.06348 13.3793 4.57312 13.4469 4.06871 13.4469C 3.71096 13.4469 3.36436 13.4125 3.02644 13.3479C 3.7312 15.5539 5.77651 17.1597 8.20105 17.2049C 6.30487 18.6947 3.91669 19.5823 1.32071 19.5823C 0.874552 19.5823 0.432526 19.5562 2.64749e-07 19.5045C 2.45015 21.0809 5.36257 22 8.49063 22C 18.6796 22 24.2516 13.5372 24.2516 6.1972C 24.2516 5.95655 24.2462 5.71673 24.2355 5.47898C 25.3186 4.69615 26.2576 3.71823 27 2.60446Z" transform="translate(11 13)" fill="white"/>
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                            <g id="Ellipse">
                                <circle cx="24" cy="24" r="24" fill="white"/>
                            </g>
                            <g id="Group">
                                <g id="Vector">
                                    <path d="M 7.20741 14.4148C 11.2 14.4148 14.4148 11.2 14.4148 7.20741C 14.4148 3.21481 11.2 1.97799e-07 7.20741 1.97799e-07C 3.21481 1.97799e-07 1.97799e-07 3.21481 1.97799e-07 7.20741C 1.97799e-07 11.2 3.21481 14.4148 7.20741 14.4148ZM 7.20741 3.05926C 9.48889 3.05926 11.3556 4.92593 11.3556 7.20741C 11.3556 9.48889 9.48889 11.3556 7.20741 11.3556C 4.92593 11.3556 3.05926 9.48889 3.05926 7.20741C 3.05926 4.92593 4.92593 3.05926 7.20741 3.05926Z" transform="translate(16.7926 16.7927)" fill="#282F3C"/>
                                </g>
                                <g id="Vector_2">
                                    <path d="M 1.71111 3.42222C 2.64444 3.42222 3.42222 2.64444 3.42222 1.71111C 3.42222 0.777778 2.64444 -1.97799e-07 1.71111 -1.97799e-07C 0.777777 -1.97799e-07 0 0.777778 0 1.71111C 0 2.64444 0.777777 3.42222 1.71111 3.42222Z" transform="translate(29.7037 14.874)" fill="#282F3C"/>
                                </g>
                                <g id="Vector_3">
                                    <path d="M 7.05185 28L 20.9481 28C 24.837 28 28 24.837 28 20.9481L 28 7.05185C 28 3.16296 24.837 0 20.9481 0L 7.05185 0C 3.16296 0 0 3.16296 0 7.05185L 0 20.9481C 0 24.837 3.16296 28 7.05185 28ZM 3.05926 7.05185C 3.05926 4.82222 4.87407 3.05926 7.05185 3.05926L 20.9481 3.05926C 23.1778 3.05926 24.9407 4.87407 24.9407 7.05185L 24.9407 20.9481C 24.9407 23.1778 23.1259 24.9407 20.9481 24.9407L 7.05185 24.9407C 4.82222 24.9407 3.05926 23.1259 3.05926 20.9481L 3.05926 7.05185Z" transform="translate(10 10)" fill="#282F3C"/>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="48" height="48" viewBox="0 0 48 48" version="1.1">
                            <g id="Ellipse">
                                <circle cx="24" cy="24" r="24" fill="white"/>
                            </g>
                            <g id="viber">
                                <g id="XMLID 8">
                                    <path d="M 9.46977 8.17693C 9.50309 4.22929 6.17367 0.610346 2.048 0.109913C 1.96594 0.100087 1.87656 0.08513 1.78193 0.069304C 1.57768 0.0351302 1.36646 1.08801e-07 1.15335 1.08801e-07C 0.307774 1.08801e-07 0.0817424 0.599824 0.0222422 0.957562C -0.0356219 1.30539 0.0195722 1.59747 0.186018 1.82608C 0.466039 2.2106 0.958746 2.27886 1.3545 2.33356C 1.47048 2.34973 1.57992 2.36478 1.67154 2.38556C 5.37829 3.22199 6.62642 4.53703 7.2364 8.2485C 7.2513 8.33919 7.25801 8.45093 7.26516 8.56945C 7.29177 9.0131 7.34722 9.93614 8.32988 9.93614L 8.32997 9.93614C 8.41177 9.93614 8.49968 9.92901 8.59122 9.91493C 9.50628 9.77449 9.4776 8.93076 9.46383 8.52537C 9.45995 8.41119 9.45625 8.30319 9.46581 8.23137C 9.46839 8.21328 9.46968 8.19511 9.46977 8.17693Z" transform="translate(23.8848 14.5729)" fill="#282F3C"/>
                                </g>
                                <g id="XMLID 9">
                                    <path d="M 1.34651 2.23373C 1.4563 2.24173 1.56023 2.24938 1.64677 2.26278C 7.73361 3.20808 10.5329 6.12042 11.3086 12.3154C 11.3218 12.4207 11.3239 12.5491 11.326 12.6851C 11.3338 13.1691 11.3497 14.176 12.4204 14.1968L 12.4537 14.1972C 12.7895 14.1972 13.0566 14.0949 13.2477 13.893C 13.581 13.5409 13.5577 13.0179 13.539 12.5975C 13.5344 12.4944 13.53 12.3973 13.5311 12.3122C 13.6085 5.97642 8.17775 0.23113 1.9094 0.0174782C 1.88339 0.0166086 1.8586 0.0179999 1.83354 0.0215652C 1.82122 0.0233912 1.79841 0.0256521 1.75931 0.0256521C 1.6968 0.0256521 1.61991 0.0201739 1.53836 0.0146087C 1.43977 0.00782606 1.328 0 1.21469 0C 0.216443 0 0.0266612 0.71652 0.00237892 1.14365C -0.0535909 2.13078 0.89204 2.20025 1.34651 2.23373Z" transform="translate(23.4517 11)" fill="#282F3C"/>
                                </g>
                                <g id="XMLID 10">
                                    <path d="M 24.4666 18.9284C 24.3372 18.8286 24.2034 18.7253 24.0781 18.6234C 23.4135 18.0833 22.7065 17.5855 22.0227 17.104C 21.8808 17.0042 21.7389 16.9043 21.5975 16.8041C 20.7217 16.1828 19.9342 15.8809 19.1902 15.8809C 18.1882 15.8809 17.3146 16.44 16.5935 17.5425C 16.274 18.0313 15.8865 18.269 15.4088 18.269C 15.1264 18.269 14.8055 18.1876 14.4551 18.027C 11.6279 16.7323 9.60916 14.7472 8.45472 12.127C 7.89666 10.8605 8.07757 10.0327 9.05971 9.35898C 9.61743 8.97672 10.6555 8.26507 10.582 6.9023C 10.4987 5.35473 7.11747 0.698314 5.69283 0.169446C 5.08964 -0.0545537 4.45589 -0.0566408 3.80578 0.164228C 2.16802 0.720226 0.992743 1.69666 0.406696 2.98778C -0.159631 4.23535 -0.134058 5.70021 0.480663 7.22403C 2.25775 11.6298 4.75624 15.471 7.90699 18.6408C 10.991 21.7437 14.7815 24.2855 19.1732 26.1951C 19.569 26.3671 19.9842 26.4609 20.2874 26.5294C 20.3907 26.5528 20.48 26.5728 20.545 26.5908C 20.5807 26.6007 20.6176 26.606 20.6545 26.6063L 20.6892 26.6065C 20.6893 26.6065 20.6892 26.6065 20.6894 26.6065C 22.7549 26.6065 25.2351 24.7004 25.9968 22.5274C 26.6641 20.6246 25.4457 19.6841 24.4666 18.9284Z" transform="translate(10 12.3934)" fill="#282F3C"/>
                                </g>
                                <g id="XMLID 11">
                                    <path d="M 1.42879 0.000760888C 1.07514 0.00980434 0.339183 0.0282387 0.0809476 0.785193C -0.039861 1.13893 -0.025395 1.44606 0.124001 1.69806C 0.343231 2.0678 0.763263 2.1811 1.14532 2.24328C 2.53087 2.4678 3.24247 3.24153 3.3848 4.67805C 3.45093 5.34787 3.89757 5.81561 4.47105 5.81561L 4.47113 5.81561C 4.5135 5.81561 4.55681 5.81309 4.59995 5.80779C 5.28967 5.72492 5.62402 5.21318 5.5938 4.28692C 5.60482 3.32023 5.10385 2.22275 4.25182 1.34858C 3.39686 0.471716 2.36624 -0.0221086 1.42879 0.000760888Z" transform="translate(24.2831 18.2657)" fill="#282F3C"/>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="popularity-view">
                <span>
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="16" cy="16" r="16" fill="white"/>
                    <path d="M10 -1.29015e-07C5.58869 -1.29015e-07 1.78673 2.56189 0.0402296 6.25889C-0.0134099 6.37092 -0.0134099 6.50197 0.0402296 6.61611C1.78673 10.3131 5.58871 12.875 10 12.875C14.4113 12.875 18.2133 10.3131 19.9598 6.61611C20.0134 6.50408 20.0134 6.37303 19.9598 6.25889C18.2133 2.56189 14.4113 -1.29015e-07 10 -1.29015e-07ZM10 10.8796C7.50898 10.8796 5.49214 8.89054 5.49214 6.43856C5.49214 3.98447 7.51113 1.99752 10 1.99752C12.491 1.99752 14.5079 3.98658 14.5079 6.43856C14.5079 8.89054 12.4889 10.8796 10 10.8796Z" transform="translate(6 9.5625)" fill="#A1A1A1"/>
                    <path d="M2.8858 5.68605C4.47959 5.68605 5.7716 4.41319 5.7716 2.84303C5.7716 1.27287 4.47959 0 2.8858 0C1.29202 0 0 1.27287 0 2.84303C0 4.41319 1.29202 5.68605 2.8858 5.68605Z" transform="translate(13.1133 13.1558)" fill="#A1A1A1"/>
                    </svg>
                </span>
                    <span>367</span>
                </div>
                <div class="popularity-like">
                <span>
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="16" cy="16" r="16" fill="white"/>
                    <path d="M15.9736 4.17466C15.74 1.75547 13.9205 0.000289592 11.6434 0.000289592C10.1264 0.000289592 8.7374 0.768559 7.95582 1.99988C7.1813 0.752632 5.84922 -7.18042e-09 4.35651 -7.18042e-09C2.07975 -7.18042e-09 0.259944 1.75518 0.0266981 4.17437C0.00823538 4.28123 -0.0674617 4.8436 0.162707 5.76072C0.49442 7.08355 1.26062 8.28677 2.37792 9.23951L7.95212 14L13.622 9.2398C14.7393 8.28677 15.5055 7.08383 15.8372 5.76072C16.0674 4.84389 15.9917 4.28152 15.9736 4.17466Z" transform="translate(8 10)" fill="#D81F20"/>
                    </svg>
                </span>
                    <span>145</span>
                </div>
                <button class="btn s2 drk report" style="display: inline-block;">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M17.2853 5.49579C16.8087 4.3862 16.17 3.43024 15.369 2.62827C14.5686 1.82622 13.6113 1.18753 12.498 0.712534C11.385 0.237539 10.2188 0 9.00014 0C7.78141 0 6.61533 0.237661 5.50204 0.712534C4.38871 1.18753 3.43165 1.82609 2.63092 2.62827C1.83016 3.43024 1.19136 4.3862 0.714815 5.49579C0.238313 6.60547 -1.07647e-09 7.77168 -1.07647e-09 8.99415C-1.07647e-09 10.2167 0.238313 11.3848 0.714815 12.4982C1.19148 13.612 1.83012 14.5695 2.63092 15.3718C3.43165 16.1739 4.38871 16.8126 5.50204 17.2872C6.61533 17.7624 7.78137 18 9.00014 18C10.2189 18 11.385 17.7624 12.498 17.2872C13.6113 16.8123 14.5686 16.1739 15.369 15.3718C16.17 14.5695 16.8087 13.612 17.2853 12.4982C17.7619 11.3847 18 10.2166 18 8.99415C17.9998 7.77168 17.7619 6.60547 17.2853 5.49579ZM3.66799 12.4865C2.97267 11.42 2.62501 10.2554 2.62518 8.99399C2.62518 7.8416 2.9104 6.77476 3.4807 5.79351C4.05087 4.81235 4.82446 4.03759 5.8009 3.46894C6.77742 2.9005 7.84384 2.61636 9.00014 2.61636C10.2894 2.61636 11.4609 2.97071 12.5158 3.67931L3.66799 12.4865ZM14.8709 11.4764C14.5348 12.2668 14.082 12.9463 13.5117 13.5148C12.9412 14.0833 12.2635 14.5369 11.4783 14.8753C10.6931 15.214 9.86691 15.3836 8.9999 15.3836C7.74997 15.3836 6.5898 15.0372 5.51945 14.3438L14.3555 5.54824C15.0355 6.59172 15.375 7.74038 15.375 8.99403C15.3748 9.85851 15.2068 10.6858 14.8709 11.4764Z" fill="white"></path>
                    </svg>
                </button>
            </div>
            <div class="popupData-text-pics" style="background-image: url('/images/textPrev.png')"></div>
            <h2 class="popupData-text-title">Большая разница в использовании современных технологий</h2>
            <div class="popupData-text-des">
                <p>Большой опыт съемок в сериалах, кино, корпоративных роликах и рекламе (главные роли, роли второго плана и эпизодические) в основном жанрах драма, мелодрама, комедия, криминал, но с интересом рассмотрю любые жанры.Большой опыт в фото(реклама одежды и нижнего белья, стоковом фото и видео)</p>
                <p>Трудоспособная, выносливая, стрессоустойчивая и креативная. Коммуникабельная - найду общий язык с разными людьми в любой ситуации. Готова к экспериментам, не суеверна, открыта к любым съемкам. Готова сменить имидж, длину и цвет волос, вес и тд для интересного проекта. Легко вдохновляюсь интересными идеями и всегда готова работать на результат вне зависимости от уровня проекта.</p>
                <p>Большой опыт съемок в сериалах, кино, корпоративных роликах и рекламе (главные роли, роли второго плана и эпизодические) в основном жанрах драма, мелодрама, комедия, криминал, но с интересом рассмотрю любые жанры.Большой опыт в фото(реклама одежды и нижнего белья, стоковом фото и видео)</p>
                <p>Трудоспособная, выносливая, стрессоустойчивая и креативная. Коммуникабельная - найду общий язык с разными людьми в любой ситуации. Готова к экспериментам, не суеверна, открыта к любым съемкам. Готова сменить имидж, длину и цвет волос, вес и тд для интересного проекта. Легко вдохновляюсь интересными идеями и всегда готова работать на результат вне зависимости от уровня проекта.</p>
            </div>
            <div class="popupData-text-preslider">Прикріплені фото і файли:</div>
        </div>
        <div class="popupData-items">
            <div class="container">
                <div class="popupData-items-prev">
                    <svg width="19" height="30" viewBox="0 0 19 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.5375 9.77468e-08L15 11.7485L26.4625 9.77468e-08L30 3.62576L15 19L0 3.62576L3.5375 9.77468e-08Z" transform="translate(19 30) scale(-1 1) rotate(-90)" fill="#282F3C"/>
                    </svg>
                </div>
                <div class="popupData-items-wrap text">
                    <div class="galerySlider text">
                        <div class="galerySlider-pics">
                            <img src="/images/galeri1.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri2.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri3.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri4.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri5.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri6.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri1.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri2.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri3.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri4.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri5.png" alt="Photo">
                        </div>
                        <div class="galerySlider-pics">
                            <img src="/images/galeri6.png" alt="Photo">
                        </div>
                    </div>
                </div>
                <div class="popupData-items-next">
                    <svg width="19" height="30" viewBox="0 0 19 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.5375 9.77468e-08L15 11.7485L26.4625 9.77468e-08L30 3.62576L15 19L0 3.62576L3.5375 9.77468e-08Z" transform="translate(0 30) rotate(-90)" fill="#282F3C"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>

</div>