<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tallents Colection</title>
    <link rel="stylesheet" href="/stylesheets/headLine.css">
    <link rel="stylesheet" href="/stylesheets/popup.css">
    <link rel="stylesheet" href="/stylesheets/filter.css">
    <link rel="stylesheet" href="/stylesheets/talant.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/ui.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
</head>
<body>
<% include header %>

<div class="talant">
    <div class="fluid slider">
        <div class="owl-carousel talantCarousel container">
            <div class="slid">
                <div class="slid-img">
                    <img src="/images/talant1.png" alt="slid img">
                </div>
                <div class="slid-attr">
                    <span class="slid-title">АННА бахмут</span>
                    <span class="slid-des">Актриса театра, Анна Бахмут окончила Днепропетровский театрально-художе- ственный колледж. С 2003 г. работала в Днепродзержинском музыкально-дра- матическом театре им. Леси Украинки.</span>
                </div>
            </div>
            <div class="slid">
                <div class="slid-img">
                    <img src="/images/talant1.png" alt="slid img">
                </div>
                <div class="slid-attr">
                    <span class="slid-title">АННА бахмут</span>
                    <span class="slid-des">Актриса театра, Анна Бахмут окончила Днепропетровский театрально-художе- ственный колледж. С 2003 г. работала в Днепродзержинском музыкально-дра- матическом театре им. Леси Украинки.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="fluid filter">
        <div class="container">
            <div class="filter-btn">
                <label for="filter">
                    <span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="16" cy="16" r="16" fill="#FFD200"/>
                            <rect width="2" height="6" transform="translate(19 10) rotate(-90)" fill="#282F3C"/>
                            <rect width="2" height="7" transform="translate(8 10) rotate(-90)" fill="#282F3C"/>
                            <rect width="2" height="5" transform="translate(5 17) rotate(-90)" fill="#282F3C"/>
                            <rect width="2" height="9" transform="translate(14 17) rotate(-90)" fill="#282F3C"/>
                            <rect width="2" height="4" transform="translate(20 24) rotate(-90)" fill="#282F3C"/>
                            <rect width="2" height="7" transform="translate(9 24) rotate(-90)" fill="#282F3C"/>
                            <circle cx="2" cy="2" r="2" transform="translate(16 21)" stroke="#282F3C"/>
                            <circle cx="2" cy="2" r="2" transform="translate(15 7)" stroke="#282F3C"/>
                            <circle cx="2" cy="2" r="2" transform="translate(10 14)" stroke="#282F3C"/>
                        </svg>
                    </span>
                    <span>Фільтр</span>
                </label>
            </div>
            <div class="filter-seting">
                <span>Сортувати за:</span>
                <div class="ismobile viewOption viewOption-close"></div>
                <div class="select-close">
                    <div class="option active">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" transform="translate(0 0.00012207)" fill="#282F3C"/>
                            <path d="M9.57882 5.28426C8.87971 4.8105 8.6646 3.84476 9.09482 3.09767C9.34578 2.66035 9.2203 2.20481 9.00519 1.94971C8.79008 1.69461 8.41364 1.45773 7.92965 1.6035C7.12299 1.8586 6.26256 1.42128 5.93989 0.637756C5.74271 0.163994 5.33042 0 5.00776 0C4.68509 0 4.25488 0.163994 4.07562 0.655977C3.77088 1.45773 2.89252 1.87682 2.08586 1.62172C1.60187 1.45773 1.2075 1.69461 1.01032 1.94971C0.795211 2.20481 0.669731 2.66035 0.920692 3.09767C1.33298 3.84476 1.11787 4.79228 0.436697 5.28426C0.0244053 5.57581 -0.0472976 6.03135 0.0244053 6.35934C0.0961082 6.68732 0.347068 7.06998 0.848989 7.14286C1.67357 7.27042 2.28305 8.03572 2.21134 8.89214C2.17549 9.40234 2.48023 9.74855 2.78497 9.89432C3.0897 10.0401 3.53785 10.0765 3.89636 9.73033C4.2011 9.43878 4.59547 9.29301 4.98983 9.29301C5.3842 9.29301 5.77856 9.43878 6.0833 9.73033C6.45974 10.0765 6.90788 10.0401 7.19469 9.89432C7.49943 9.74855 7.80417 9.40234 7.76832 8.89214C7.71454 8.03572 8.30609 7.27042 9.13067 7.14286C9.63259 7.06998 9.88355 6.68732 9.95526 6.35934C10.0628 6.03135 9.99111 5.57581 9.57882 5.28426ZM5.00776 8.54593C3.19726 8.54593 1.70942 7.05176 1.70942 5.19315C1.70942 3.33455 3.17933 1.84038 5.00776 1.84038C6.83618 1.84038 8.30609 3.33455 8.30609 5.19315C8.28816 7.03353 6.81825 8.54593 5.00776 8.54593Z" transform="translate(3 3.00012)" fill="white"/>
                            </svg>
                        </span>
                        <span>новизною</span>
                    </div>
                    <div class="option">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" transform="translate(0 0.00012207)" fill="#282F3C"/>
                            <path d="M5 -6.45073e-08C2.79435 -6.45073e-08 0.893365 1.28095 0.0201148 3.12944C-0.00670493 3.18546 -0.00670493 3.25099 0.0201148 3.30806C0.893365 5.15654 2.79436 6.4375 5 6.4375C7.20564 6.4375 9.10664 5.15655 9.97989 3.30806C10.0067 3.25204 10.0067 3.18652 9.97989 3.12944C9.10664 1.28095 7.20565 -6.45073e-08 5 -6.45073e-08ZM5 5.43981C3.75449 5.43981 2.74607 4.44527 2.74607 3.21928C2.74607 1.99223 3.75557 0.998758 5 0.998758C6.24551 0.998758 7.25393 1.99329 7.25393 3.21928C7.25393 4.44527 6.24443 5.43981 5 5.43981Z" transform="translate(3 4.78137)" fill="white"/>
                            <path d="M1.4429 2.84303C2.23979 2.84303 2.8858 2.20659 2.8858 1.42151C2.8858 0.636433 2.23979 0 1.4429 0C0.646009 0 0 0.636433 0 1.42151C0 2.20659 0.646009 2.84303 1.4429 2.84303Z" transform="translate(6.55664 6.57806)" fill="white"/>
                            </svg>
                        </span>
                        <span>переглядами</span>
                    </div>
                    <div class="option">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" transform="translate(0 0.00012207)" fill="#A1A1A1"/>
                            <path d="M7.98678 2.08733C7.87 0.877733 6.96025 0.000144796 5.82172 0.000144796C5.06321 0.000144796 4.3687 0.38428 3.97791 0.999938C3.59065 0.376316 2.92461 -3.59021e-09 2.17826 -3.59021e-09C1.03988 -3.59021e-09 0.129972 0.877588 0.013349 2.08719C0.00411769 2.14061 -0.0337309 2.4218 0.0813534 2.88036C0.24721 3.54177 0.630311 4.14339 1.18896 4.61975L3.97606 7L6.81101 4.6199C7.36966 4.14339 7.75276 3.54192 7.91862 2.88036C8.0337 2.42195 7.99585 2.14076 7.98678 2.08733Z" transform="translate(4 5.00012)" fill="white"/>
                            </svg>
                        </span>
                        <span>лайками</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="fluid">
            <input id="filter" style="display: none" type="checkbox" name="filter">
            <div class="container filter-option">
                <form action="/">
                    <div class="filter-ads">
                        <div class="filter-ads-title">
                            <b>Рубрики:</b>
                        </div>
                        <div class="filter-ads-check">
                            <div class="filter-item">
                                <input id="fltr1" style="display: none" type="checkbox">
                                <label for="fltr1" class="viewinput"><span></span></label>
                                <label for="fltr1">Танці</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr2" style="display: none" type="checkbox">
                                <label for="fltr2" class="viewinput"><span></span></label>
                                <label for="fltr2">Образотворче мистецтво</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr3" style="display: none" type="checkbox">
                                <label for="fltr3" class="viewinput"><span></span></label>
                                <label for="fltr3">Музичні колективи</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr4" style="display: none" type="checkbox">
                                <label for="fltr4" class="viewinput"><span></span></label>
                                <label for="fltr4">Гумор</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr5" style="display: none" type="checkbox">
                                <label for="fltr5" class="viewinput"><span></span></label>
                                <label for="fltr5">Вокал</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr6" style="display: none" type="checkbox">
                                <label for="fltr6" class="viewinput"><span></span></label>
                                <label for="fltr6">Моделінг</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr7" style="display: none" type="checkbox">
                                <label for="fltr7" class="viewinput"><span></span></label>
                                <label for="fltr7">Hand Made</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr8" style="display: none" type="checkbox">
                                <label for="fltr8" class="viewinput"><span></span></label>
                                <label for="fltr8">Свята</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr9" style="display: none" type="checkbox">
                                <label for="fltr9" class="viewinput"><span></span></label>
                                <label for="fltr9">Музичні інструменти</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr10" style="display: none" type="checkbox">
                                <label for="fltr10" class="viewinput"><span></span></label>
                                <label for="fltr10">Відео та Кіно</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr11" style="display: none" type="checkbox">
                                <label for="fltr11" class="viewinput"><span></span></label>
                                <label for="fltr11">Театр</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr12" style="display: none" type="checkbox">
                                <label for="fltr12" class="viewinput"><span></span></label>
                                <label for="fltr12">Цирк</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr13" style="display: none" type="checkbox">
                                <label for="fltr13" class="viewinput"><span></span></label>
                                <label for="fltr13">Літературна діяльність</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr14" style="display: none" type="checkbox">
                                <label for="fltr14" class="viewinput"><span></span></label>
                                <label for="fltr14">Дизайн</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr15" style="display: none" type="checkbox">
                                <label for="fltr15" class="viewinput"><span></span></label>
                                <label for="fltr15">Фотографія</label>
                            </div>
                            <div class="filter-item">
                                <input id="fltr16" style="display: none" type="checkbox">
                                <label for="fltr16" class="viewinput"><span></span></label>
                                <label for="fltr16">Нове</label>
                            </div>
                        </div>
                        <div class="filter-ads-buttons">
                            <button type="submit" class="btn">ЗАСТОСУВАТИ</button>
                            <button type="button" class="clearFilter">ОЧИСТИТИ ФІЛЬТР</button>
                        </div>
                    </div>
                    <div class="filter-location">
                        <div class="filter-location-title">
                            <b>Локація: </b>
                        </div>
                        <div class="filter-location-value">
                            <input type="text" placeholder="Введіть місто або країну">
                        </div>
                        <div class="filter-location-title">
                            <b>Стать:</b>
                        </div>
                        <div class="filter-location-sex">
                            <span>
                                <input id="male" style="display: none" type="radio" name="sex">
                                <label for="male" class="viewinput"><span></span></label>
                                <label for="male">Чоловік</label>
                            </span>
                            <span>
                                <input id="female" style="display: none" type="radio" name="sex">
                                <label for="female" class="viewinput"><span></span></label>
                                <label for="female">Жінка</label>
                            </span>
                        </div>
                        <div class="filter-location-title">
                            <b>Вік: </b><span id="ageDiapazone">(23-30)</span>
                        </div>
                        <div class="filter-location-widget">
                            <span class="from">Від</span>
                            <div class="line">
                                <div class="line-main">
                                    <span class="line-active"></span>
                                    <div id="labl1">
                                        <span>0</span>
                                        <div>
                                            <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.4 7.3L3.4 9.55C3.75556 9.81667 4.24444 9.81667 4.6 9.55L7.6 7.3C7.85181 7.11115 8 6.81476 8 6.5V1C8 0.447715 7.55228 0 7 0H1C0.447715 0 0 0.447715 0 1V6.5C0 6.81476 0.148194 7.11115 0.4 7.3Z" fill="#282F3C"/>
                                                <path d="M0 1C0 0.447715 0.447715 0 1 0H7C7.55228 0 8 0.447715 8 1V3H0V1Z" fill="#FFD200"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div id="labl2">
                                        <span>30</span>
                                        <div>
                                            <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.4 7.3L3.4 9.55C3.75556 9.81667 4.24444 9.81667 4.6 9.55L7.6 7.3C7.85181 7.11115 8 6.81476 8 6.5V1C8 0.447715 7.55228 0 7 0H1C0.447715 0 0 0.447715 0 1V6.5C0 6.81476 0.148194 7.11115 0.4 7.3Z" fill="#282F3C"/>
                                                <path d="M0 1C0 0.447715 0.447715 0 1 0H7C7.55228 0 8 0.447715 8 1V3H0V1Z" fill="#FFD200"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="to">До</span>
                        </div>
                        <div class="filter-location-status">
                            <span>
                                <input id="status" style="display: none" type="checkbox">
                                <label for="status" class="viewinput"><span></span></label>
                                <label for="status">
                                    <b>Статус</b>
                                    <svg width="35" height="17" viewBox="0 0 35 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="35" height="16" rx="4" transform="translate(0 1)" fill="#D81F20"/>
                                    <path d="M8.43945 7.36914C8.43945 7.94336 8.29297 8.45312 8 8.89844C7.71094 9.34375 7.29688 9.68945 6.75781 9.93555C6.21875 10.1777 5.5918 10.2988 4.87695 10.2988H4.10352V13H1.57227V4.59766H5.01758C6.20117 4.59766 7.06641 4.82227 7.61328 5.27148C8.16406 5.7207 8.43945 6.41992 8.43945 7.36914ZM5.76172 7.45703C5.76172 7.11328 5.66211 6.85352 5.46289 6.67773C5.26367 6.50195 4.9707 6.41406 4.58398 6.41406H4.10352V8.48828H4.67188C5.39844 8.48828 5.76172 8.14453 5.76172 7.45703ZM13.8066 13L13.1797 11.1895C13.0586 10.834 12.9004 10.5547 12.7051 10.3516C12.5137 10.1484 12.3047 10.0469 12.0781 10.0469H11.9785V13H9.44727V4.59766H12.8105C13.9863 4.59766 14.8535 4.79102 15.4121 5.17773C15.9746 5.56055 16.2559 6.13672 16.2559 6.90625C16.2559 7.48438 16.0918 7.96875 15.7637 8.35938C15.4395 8.75 14.9551 9.0332 14.3105 9.20898V9.23242C14.666 9.3418 14.9609 9.51953 15.1953 9.76562C15.4336 10.0117 15.6465 10.377 15.834 10.8613L16.6602 13H13.8066ZM13.5664 7.26367C13.5664 6.98242 13.4805 6.75977 13.3086 6.5957C13.1367 6.43164 12.8672 6.34961 12.5 6.34961H11.9785V8.27148H12.4355C12.7754 8.27148 13.0488 8.17578 13.2559 7.98438C13.4629 7.79297 13.5664 7.55273 13.5664 7.26367ZM25.6309 8.77539C25.6309 9.61914 25.4492 10.375 25.0859 11.043C24.7227 11.707 24.2148 12.2246 23.5625 12.5957C22.9102 12.9629 22.1797 13.1465 21.3711 13.1465C20.582 13.1465 19.8633 12.9688 19.2148 12.6133C18.5703 12.2539 18.0684 11.752 17.709 11.1074C17.3496 10.459 17.1699 9.72656 17.1699 8.91016C17.1699 8.05469 17.3516 7.28516 17.7148 6.60156C18.0781 5.91797 18.5879 5.39062 19.2441 5.01953C19.9004 4.64453 20.6465 4.45703 21.4824 4.45703C22.2871 4.45703 23.0059 4.63672 23.6387 4.99609C24.2754 5.35156 24.7656 5.86133 25.1094 6.52539C25.457 7.18555 25.6309 7.93555 25.6309 8.77539ZM22.9473 8.8457C22.9473 8.1543 22.8145 7.60938 22.5488 7.21094C22.2832 6.8125 21.9199 6.61328 21.459 6.61328C20.9551 6.61328 20.5625 6.80469 20.2812 7.1875C20 7.57031 19.8594 8.11133 19.8594 8.81055C19.8594 9.49414 19.998 10.0273 20.2754 10.4102C20.5566 10.793 20.9375 10.9844 21.418 10.9844C21.7109 10.9844 21.9746 10.8984 22.209 10.7266C22.4434 10.5547 22.625 10.3086 22.7539 9.98828C22.8828 9.66797 22.9473 9.28711 22.9473 8.8457Z" transform="translate(4)" fill="white"/>
                                    </svg>
                                </label>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="fluid person">
        <div class="container">
            <div class="banner" style="display: none">
                <iframe src="/banner.html" scrolling="no" frameborder="0" width="1168" height="212"></iframe>
            </div>
            <a href="/singleTalant" class="person-block active">
                <div class="person-block-pro">
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.123291 0H35C37.2092 0 39 1.79086 39 4V38.8768C38.0107 38.9584 37.0103 39 36 39C16.1177 39 0 22.8823 0 3C0 1.98975 0.041748 0.989197 0.123291 0Z" fill="#D81F20"/>
                        <path d="M8.43945 7.36914C8.43945 7.94336 8.29297 8.45312 8 8.89844C7.71094 9.34375 7.29688 9.68945 6.75781 9.93555C6.21875 10.1777 5.5918 10.2988 4.87695 10.2988H4.10352V13H1.57227V4.59766H5.01758C6.20117 4.59766 7.06641 4.82227 7.61328 5.27148C8.16406 5.7207 8.43945 6.41992 8.43945 7.36914ZM5.76172 7.45703C5.76172 7.11328 5.66211 6.85352 5.46289 6.67773C5.26367 6.50195 4.9707 6.41406 4.58398 6.41406H4.10352V8.48828H4.67188C5.39844 8.48828 5.76172 8.14453 5.76172 7.45703ZM13.8066 13L13.1797 11.1895C13.0586 10.834 12.9004 10.5547 12.7051 10.3516C12.5137 10.1484 12.3047 10.0469 12.0781 10.0469H11.9785V13H9.44727V4.59766H12.8105C13.9863 4.59766 14.8535 4.79102 15.4121 5.17773C15.9746 5.56055 16.2559 6.13672 16.2559 6.90625C16.2559 7.48438 16.0918 7.96875 15.7637 8.35938C15.4395 8.75 14.9551 9.0332 14.3105 9.20898V9.23242C14.666 9.3418 14.9609 9.51953 15.1953 9.76562C15.4336 10.0117 15.6465 10.377 15.834 10.8613L16.6602 13H13.8066ZM13.5664 7.26367C13.5664 6.98242 13.4805 6.75977 13.3086 6.5957C13.1367 6.43164 12.8672 6.34961 12.5 6.34961H11.9785V8.27148H12.4355C12.7754 8.27148 13.0488 8.17578 13.2559 7.98438C13.4629 7.79297 13.5664 7.55273 13.5664 7.26367ZM25.6309 8.77539C25.6309 9.61914 25.4492 10.375 25.0859 11.043C24.7227 11.707 24.2148 12.2246 23.5625 12.5957C22.9102 12.9629 22.1797 13.1465 21.3711 13.1465C20.582 13.1465 19.8633 12.9688 19.2148 12.6133C18.5703 12.2539 18.0684 11.752 17.709 11.1074C17.3496 10.459 17.1699 9.72656 17.1699 8.91016C17.1699 8.05469 17.3516 7.28516 17.7148 6.60156C18.0781 5.91797 18.5879 5.39062 19.2441 5.01953C19.9004 4.64453 20.6465 4.45703 21.4824 4.45703C22.2871 4.45703 23.0059 4.63672 23.6387 4.99609C24.2754 5.35156 24.7656 5.86133 25.1094 6.52539C25.457 7.18555 25.6309 7.93555 25.6309 8.77539ZM22.9473 8.8457C22.9473 8.1543 22.8145 7.60938 22.5488 7.21094C22.2832 6.8125 21.9199 6.61328 21.459 6.61328C20.9551 6.61328 20.5625 6.80469 20.2812 7.1875C20 7.57031 19.8594 8.11133 19.8594 8.81055C19.8594 9.49414 19.998 10.0273 20.2754 10.4102C20.5566 10.793 20.9375 10.9844 21.418 10.9844C21.7109 10.9844 21.9746 10.8984 22.209 10.7266C22.4434 10.5547 22.625 10.3086 22.7539 9.98828C22.8828 9.66797 22.9473 9.28711 22.9473 8.8457Z" transform="translate(9 7)" fill="white"/>
                    </svg>
                </div>
                <div class="person-block-data">
                    <div class="person-block-data-photo">
                        <img src="/images/person1.png" alt="Photo">
                    </div>
                    <div class="person-block-data-name">Karina Marshova</div>
                    <div class="person-block-data-city">Las Vegas, USA</div>
                    <div class="person-block-data-job">Моделінг: Фотомодель</div>
                </div>
                <div class="person-block-info">
                    <div class="person-block-info-star">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0H32V32H4C1.79086 32 0 30.2091 0 28V0Z" fill="#FFD200"/>
                            <path d="M8.37615 0.38413C8.49382 0.149042 8.73613 9.52471e-09 9.00097 9.52471e-09C9.26581 9.52471e-09 9.50851 0.149042 9.62579 0.38413L11.8668 4.87653C11.9682 5.07973 12.1647 5.22071 12.3918 5.25336L17.4036 5.9736C17.6665 6.01125 17.884 6.19333 17.9659 6.44263C18.0478 6.69193 17.9795 6.9662 17.7896 7.14904L14.1634 10.6462C13.9991 10.8044 13.9242 11.0326 13.9626 11.2562L14.8185 16.1941C14.8628 16.4531 14.756 16.7143 14.5408 16.8687C14.3261 17.0223 14.0422 17.0427 13.8069 16.9213L9.32406 14.5896C9.12135 14.484 8.87865 14.484 8.67555 14.5896L4.19271 16.9209C3.95816 17.0427 3.67351 17.0227 3.45877 16.8687C3.24402 16.7146 3.13684 16.4531 3.1815 16.1941L4.03737 11.2562C4.07621 11.0326 4.00087 10.8044 3.83661 10.6462L0.210412 7.14904C0.02052 6.96581 -0.0478256 6.69193 0.0341114 6.44263C0.116048 6.19333 0.3339 6.01125 0.596797 5.9736L5.60932 5.25336C5.83611 5.22071 6.0326 5.07973 6.13395 4.87615L8.37615 0.38413Z" transform="translate(7 7)" fill="white"/>
                        </svg>
                    </div>
                    <div class="person-block-info-view">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#A1A1A1"/>
                            <path d="M5 -6.45073e-08C2.79435 -6.45073e-08 0.893365 1.28095 0.0201148 3.12944C-0.00670493 3.18546 -0.00670493 3.25099 0.0201148 3.30806C0.893365 5.15654 2.79436 6.4375 5 6.4375C7.20564 6.4375 9.10664 5.15655 9.97989 3.30806C10.0067 3.25204 10.0067 3.18652 9.97989 3.12944C9.10664 1.28095 7.20565 -6.45073e-08 5 -6.45073e-08ZM5 5.43981C3.75449 5.43981 2.74607 4.44527 2.74607 3.21928C2.74607 1.99223 3.75557 0.998758 5 0.998758C6.24551 0.998758 7.25393 1.99329 7.25393 3.21928C7.25393 4.44527 6.24443 5.43981 5 5.43981Z" transform="translate(3 4.78125)" fill="white"/>
                            <path d="M1.4429 2.84303C2.23979 2.84303 2.8858 2.20659 2.8858 1.42151C2.8858 0.636433 2.23979 0 1.4429 0C0.646009 0 0 0.636433 0 1.42151C0 2.20659 0.646009 2.84303 1.4429 2.84303Z" transform="translate(6.55664 6.57794)" fill="white"/>
                            </svg>
                        </span>
                        <span>367</span>
                    </div>
                    <div class="person-block-info-like">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#D81F20"/>
                            <path d="M7.98678 2.08733C7.87 0.877733 6.96025 0.000144796 5.82172 0.000144796C5.06321 0.000144796 4.3687 0.38428 3.97791 0.999938C3.59065 0.376316 2.92461 -3.59021e-09 2.17826 -3.59021e-09C1.03988 -3.59021e-09 0.129972 0.877588 0.013349 2.08719C0.00411769 2.14061 -0.0337309 2.4218 0.0813534 2.88036C0.24721 3.54177 0.630311 4.14339 1.18896 4.61975L3.97606 7L6.81101 4.6199C7.36966 4.14339 7.75276 3.54192 7.91862 2.88036C8.0337 2.42195 7.99585 2.14076 7.98678 2.08733Z" transform="translate(4 5)" fill="white"/>
                            </svg>
                        </span>
                        <span>145</span>
                    </div>
                </div>
            </a>
            <a href="/singleTalant" class="person-block">
                <div class="person-block-pro">
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.123291 0H35C37.2092 0 39 1.79086 39 4V38.8768C38.0107 38.9584 37.0103 39 36 39C16.1177 39 0 22.8823 0 3C0 1.98975 0.041748 0.989197 0.123291 0Z" fill="#D81F20"/>
                        <path d="M8.43945 7.36914C8.43945 7.94336 8.29297 8.45312 8 8.89844C7.71094 9.34375 7.29688 9.68945 6.75781 9.93555C6.21875 10.1777 5.5918 10.2988 4.87695 10.2988H4.10352V13H1.57227V4.59766H5.01758C6.20117 4.59766 7.06641 4.82227 7.61328 5.27148C8.16406 5.7207 8.43945 6.41992 8.43945 7.36914ZM5.76172 7.45703C5.76172 7.11328 5.66211 6.85352 5.46289 6.67773C5.26367 6.50195 4.9707 6.41406 4.58398 6.41406H4.10352V8.48828H4.67188C5.39844 8.48828 5.76172 8.14453 5.76172 7.45703ZM13.8066 13L13.1797 11.1895C13.0586 10.834 12.9004 10.5547 12.7051 10.3516C12.5137 10.1484 12.3047 10.0469 12.0781 10.0469H11.9785V13H9.44727V4.59766H12.8105C13.9863 4.59766 14.8535 4.79102 15.4121 5.17773C15.9746 5.56055 16.2559 6.13672 16.2559 6.90625C16.2559 7.48438 16.0918 7.96875 15.7637 8.35938C15.4395 8.75 14.9551 9.0332 14.3105 9.20898V9.23242C14.666 9.3418 14.9609 9.51953 15.1953 9.76562C15.4336 10.0117 15.6465 10.377 15.834 10.8613L16.6602 13H13.8066ZM13.5664 7.26367C13.5664 6.98242 13.4805 6.75977 13.3086 6.5957C13.1367 6.43164 12.8672 6.34961 12.5 6.34961H11.9785V8.27148H12.4355C12.7754 8.27148 13.0488 8.17578 13.2559 7.98438C13.4629 7.79297 13.5664 7.55273 13.5664 7.26367ZM25.6309 8.77539C25.6309 9.61914 25.4492 10.375 25.0859 11.043C24.7227 11.707 24.2148 12.2246 23.5625 12.5957C22.9102 12.9629 22.1797 13.1465 21.3711 13.1465C20.582 13.1465 19.8633 12.9688 19.2148 12.6133C18.5703 12.2539 18.0684 11.752 17.709 11.1074C17.3496 10.459 17.1699 9.72656 17.1699 8.91016C17.1699 8.05469 17.3516 7.28516 17.7148 6.60156C18.0781 5.91797 18.5879 5.39062 19.2441 5.01953C19.9004 4.64453 20.6465 4.45703 21.4824 4.45703C22.2871 4.45703 23.0059 4.63672 23.6387 4.99609C24.2754 5.35156 24.7656 5.86133 25.1094 6.52539C25.457 7.18555 25.6309 7.93555 25.6309 8.77539ZM22.9473 8.8457C22.9473 8.1543 22.8145 7.60938 22.5488 7.21094C22.2832 6.8125 21.9199 6.61328 21.459 6.61328C20.9551 6.61328 20.5625 6.80469 20.2812 7.1875C20 7.57031 19.8594 8.11133 19.8594 8.81055C19.8594 9.49414 19.998 10.0273 20.2754 10.4102C20.5566 10.793 20.9375 10.9844 21.418 10.9844C21.7109 10.9844 21.9746 10.8984 22.209 10.7266C22.4434 10.5547 22.625 10.3086 22.7539 9.98828C22.8828 9.66797 22.9473 9.28711 22.9473 8.8457Z" transform="translate(9 7)" fill="white"/>
                    </svg>
                </div>
                <div class="person-block-data">
                    <div class="person-block-data-photo">
                        <img src="/images/person1.png" alt="Photo">
                    </div>
                    <div class="person-block-data-name">Karina Marshova</div>
                    <div class="person-block-data-city">Las Vegas, USA</div>
                    <div class="person-block-data-job">Моделінг: Фотомодель</div>
                </div>
                <div class="person-block-info">
                    <div class="person-block-info-star">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0H32V32H4C1.79086 32 0 30.2091 0 28V0Z" fill="#FFD200"/>
                            <path d="M8.37615 0.38413C8.49382 0.149042 8.73613 9.52471e-09 9.00097 9.52471e-09C9.26581 9.52471e-09 9.50851 0.149042 9.62579 0.38413L11.8668 4.87653C11.9682 5.07973 12.1647 5.22071 12.3918 5.25336L17.4036 5.9736C17.6665 6.01125 17.884 6.19333 17.9659 6.44263C18.0478 6.69193 17.9795 6.9662 17.7896 7.14904L14.1634 10.6462C13.9991 10.8044 13.9242 11.0326 13.9626 11.2562L14.8185 16.1941C14.8628 16.4531 14.756 16.7143 14.5408 16.8687C14.3261 17.0223 14.0422 17.0427 13.8069 16.9213L9.32406 14.5896C9.12135 14.484 8.87865 14.484 8.67555 14.5896L4.19271 16.9209C3.95816 17.0427 3.67351 17.0227 3.45877 16.8687C3.24402 16.7146 3.13684 16.4531 3.1815 16.1941L4.03737 11.2562C4.07621 11.0326 4.00087 10.8044 3.83661 10.6462L0.210412 7.14904C0.02052 6.96581 -0.0478256 6.69193 0.0341114 6.44263C0.116048 6.19333 0.3339 6.01125 0.596797 5.9736L5.60932 5.25336C5.83611 5.22071 6.0326 5.07973 6.13395 4.87615L8.37615 0.38413Z" transform="translate(7 7)" fill="white"/>
                        </svg>
                    </div>
                    <div class="person-block-info-view">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#A1A1A1"/>
                            <path d="M5 -6.45073e-08C2.79435 -6.45073e-08 0.893365 1.28095 0.0201148 3.12944C-0.00670493 3.18546 -0.00670493 3.25099 0.0201148 3.30806C0.893365 5.15654 2.79436 6.4375 5 6.4375C7.20564 6.4375 9.10664 5.15655 9.97989 3.30806C10.0067 3.25204 10.0067 3.18652 9.97989 3.12944C9.10664 1.28095 7.20565 -6.45073e-08 5 -6.45073e-08ZM5 5.43981C3.75449 5.43981 2.74607 4.44527 2.74607 3.21928C2.74607 1.99223 3.75557 0.998758 5 0.998758C6.24551 0.998758 7.25393 1.99329 7.25393 3.21928C7.25393 4.44527 6.24443 5.43981 5 5.43981Z" transform="translate(3 4.78125)" fill="white"/>
                            <path d="M1.4429 2.84303C2.23979 2.84303 2.8858 2.20659 2.8858 1.42151C2.8858 0.636433 2.23979 0 1.4429 0C0.646009 0 0 0.636433 0 1.42151C0 2.20659 0.646009 2.84303 1.4429 2.84303Z" transform="translate(6.55664 6.57794)" fill="white"/>
                            </svg>
                        </span>
                        <span>367</span>
                    </div>
                    <div class="person-block-info-like">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#D81F20"/>
                            <path d="M7.98678 2.08733C7.87 0.877733 6.96025 0.000144796 5.82172 0.000144796C5.06321 0.000144796 4.3687 0.38428 3.97791 0.999938C3.59065 0.376316 2.92461 -3.59021e-09 2.17826 -3.59021e-09C1.03988 -3.59021e-09 0.129972 0.877588 0.013349 2.08719C0.00411769 2.14061 -0.0337309 2.4218 0.0813534 2.88036C0.24721 3.54177 0.630311 4.14339 1.18896 4.61975L3.97606 7L6.81101 4.6199C7.36966 4.14339 7.75276 3.54192 7.91862 2.88036C8.0337 2.42195 7.99585 2.14076 7.98678 2.08733Z" transform="translate(4 5)" fill="white"/>
                            </svg>
                        </span>
                        <span>145</span>
                    </div>
                </div>
            </a>
            <a href="/singleTalant" class="person-block">
                <div class="person-block-pro">
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.123291 0H35C37.2092 0 39 1.79086 39 4V38.8768C38.0107 38.9584 37.0103 39 36 39C16.1177 39 0 22.8823 0 3C0 1.98975 0.041748 0.989197 0.123291 0Z" fill="#D81F20"/>
                        <path d="M8.43945 7.36914C8.43945 7.94336 8.29297 8.45312 8 8.89844C7.71094 9.34375 7.29688 9.68945 6.75781 9.93555C6.21875 10.1777 5.5918 10.2988 4.87695 10.2988H4.10352V13H1.57227V4.59766H5.01758C6.20117 4.59766 7.06641 4.82227 7.61328 5.27148C8.16406 5.7207 8.43945 6.41992 8.43945 7.36914ZM5.76172 7.45703C5.76172 7.11328 5.66211 6.85352 5.46289 6.67773C5.26367 6.50195 4.9707 6.41406 4.58398 6.41406H4.10352V8.48828H4.67188C5.39844 8.48828 5.76172 8.14453 5.76172 7.45703ZM13.8066 13L13.1797 11.1895C13.0586 10.834 12.9004 10.5547 12.7051 10.3516C12.5137 10.1484 12.3047 10.0469 12.0781 10.0469H11.9785V13H9.44727V4.59766H12.8105C13.9863 4.59766 14.8535 4.79102 15.4121 5.17773C15.9746 5.56055 16.2559 6.13672 16.2559 6.90625C16.2559 7.48438 16.0918 7.96875 15.7637 8.35938C15.4395 8.75 14.9551 9.0332 14.3105 9.20898V9.23242C14.666 9.3418 14.9609 9.51953 15.1953 9.76562C15.4336 10.0117 15.6465 10.377 15.834 10.8613L16.6602 13H13.8066ZM13.5664 7.26367C13.5664 6.98242 13.4805 6.75977 13.3086 6.5957C13.1367 6.43164 12.8672 6.34961 12.5 6.34961H11.9785V8.27148H12.4355C12.7754 8.27148 13.0488 8.17578 13.2559 7.98438C13.4629 7.79297 13.5664 7.55273 13.5664 7.26367ZM25.6309 8.77539C25.6309 9.61914 25.4492 10.375 25.0859 11.043C24.7227 11.707 24.2148 12.2246 23.5625 12.5957C22.9102 12.9629 22.1797 13.1465 21.3711 13.1465C20.582 13.1465 19.8633 12.9688 19.2148 12.6133C18.5703 12.2539 18.0684 11.752 17.709 11.1074C17.3496 10.459 17.1699 9.72656 17.1699 8.91016C17.1699 8.05469 17.3516 7.28516 17.7148 6.60156C18.0781 5.91797 18.5879 5.39062 19.2441 5.01953C19.9004 4.64453 20.6465 4.45703 21.4824 4.45703C22.2871 4.45703 23.0059 4.63672 23.6387 4.99609C24.2754 5.35156 24.7656 5.86133 25.1094 6.52539C25.457 7.18555 25.6309 7.93555 25.6309 8.77539ZM22.9473 8.8457C22.9473 8.1543 22.8145 7.60938 22.5488 7.21094C22.2832 6.8125 21.9199 6.61328 21.459 6.61328C20.9551 6.61328 20.5625 6.80469 20.2812 7.1875C20 7.57031 19.8594 8.11133 19.8594 8.81055C19.8594 9.49414 19.998 10.0273 20.2754 10.4102C20.5566 10.793 20.9375 10.9844 21.418 10.9844C21.7109 10.9844 21.9746 10.8984 22.209 10.7266C22.4434 10.5547 22.625 10.3086 22.7539 9.98828C22.8828 9.66797 22.9473 9.28711 22.9473 8.8457Z" transform="translate(9 7)" fill="white"/>
                    </svg>
                </div>
                <div class="person-block-data">
                    <div class="person-block-data-photo">
                        <img src="/images/person1.png" alt="Photo">
                    </div>
                    <div class="person-block-data-name">Karina Marshova</div>
                    <div class="person-block-data-city">Las Vegas, USA</div>
                    <div class="person-block-data-job">Моделінг: Фотомодель</div>
                </div>
                <div class="person-block-info">
                    <div class="person-block-info-star">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0H32V32H4C1.79086 32 0 30.2091 0 28V0Z" fill="#FFD200"/>
                            <path d="M8.37615 0.38413C8.49382 0.149042 8.73613 9.52471e-09 9.00097 9.52471e-09C9.26581 9.52471e-09 9.50851 0.149042 9.62579 0.38413L11.8668 4.87653C11.9682 5.07973 12.1647 5.22071 12.3918 5.25336L17.4036 5.9736C17.6665 6.01125 17.884 6.19333 17.9659 6.44263C18.0478 6.69193 17.9795 6.9662 17.7896 7.14904L14.1634 10.6462C13.9991 10.8044 13.9242 11.0326 13.9626 11.2562L14.8185 16.1941C14.8628 16.4531 14.756 16.7143 14.5408 16.8687C14.3261 17.0223 14.0422 17.0427 13.8069 16.9213L9.32406 14.5896C9.12135 14.484 8.87865 14.484 8.67555 14.5896L4.19271 16.9209C3.95816 17.0427 3.67351 17.0227 3.45877 16.8687C3.24402 16.7146 3.13684 16.4531 3.1815 16.1941L4.03737 11.2562C4.07621 11.0326 4.00087 10.8044 3.83661 10.6462L0.210412 7.14904C0.02052 6.96581 -0.0478256 6.69193 0.0341114 6.44263C0.116048 6.19333 0.3339 6.01125 0.596797 5.9736L5.60932 5.25336C5.83611 5.22071 6.0326 5.07973 6.13395 4.87615L8.37615 0.38413Z" transform="translate(7 7)" fill="white"/>
                        </svg>
                    </div>
                    <div class="person-block-info-view">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#A1A1A1"/>
                            <path d="M5 -6.45073e-08C2.79435 -6.45073e-08 0.893365 1.28095 0.0201148 3.12944C-0.00670493 3.18546 -0.00670493 3.25099 0.0201148 3.30806C0.893365 5.15654 2.79436 6.4375 5 6.4375C7.20564 6.4375 9.10664 5.15655 9.97989 3.30806C10.0067 3.25204 10.0067 3.18652 9.97989 3.12944C9.10664 1.28095 7.20565 -6.45073e-08 5 -6.45073e-08ZM5 5.43981C3.75449 5.43981 2.74607 4.44527 2.74607 3.21928C2.74607 1.99223 3.75557 0.998758 5 0.998758C6.24551 0.998758 7.25393 1.99329 7.25393 3.21928C7.25393 4.44527 6.24443 5.43981 5 5.43981Z" transform="translate(3 4.78125)" fill="white"/>
                            <path d="M1.4429 2.84303C2.23979 2.84303 2.8858 2.20659 2.8858 1.42151C2.8858 0.636433 2.23979 0 1.4429 0C0.646009 0 0 0.636433 0 1.42151C0 2.20659 0.646009 2.84303 1.4429 2.84303Z" transform="translate(6.55664 6.57794)" fill="white"/>
                            </svg>
                        </span>
                        <span>367</span>
                    </div>
                    <div class="person-block-info-like">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#D81F20"/>
                            <path d="M7.98678 2.08733C7.87 0.877733 6.96025 0.000144796 5.82172 0.000144796C5.06321 0.000144796 4.3687 0.38428 3.97791 0.999938C3.59065 0.376316 2.92461 -3.59021e-09 2.17826 -3.59021e-09C1.03988 -3.59021e-09 0.129972 0.877588 0.013349 2.08719C0.00411769 2.14061 -0.0337309 2.4218 0.0813534 2.88036C0.24721 3.54177 0.630311 4.14339 1.18896 4.61975L3.97606 7L6.81101 4.6199C7.36966 4.14339 7.75276 3.54192 7.91862 2.88036C8.0337 2.42195 7.99585 2.14076 7.98678 2.08733Z" transform="translate(4 5)" fill="white"/>
                            </svg>
                        </span>
                        <span>145</span>
                    </div>
                </div>
            </a>
            <a href="/singleTalant" class="person-block active">
                <div class="person-block-pro">
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.123291 0H35C37.2092 0 39 1.79086 39 4V38.8768C38.0107 38.9584 37.0103 39 36 39C16.1177 39 0 22.8823 0 3C0 1.98975 0.041748 0.989197 0.123291 0Z" fill="#D81F20"/>
                        <path d="M8.43945 7.36914C8.43945 7.94336 8.29297 8.45312 8 8.89844C7.71094 9.34375 7.29688 9.68945 6.75781 9.93555C6.21875 10.1777 5.5918 10.2988 4.87695 10.2988H4.10352V13H1.57227V4.59766H5.01758C6.20117 4.59766 7.06641 4.82227 7.61328 5.27148C8.16406 5.7207 8.43945 6.41992 8.43945 7.36914ZM5.76172 7.45703C5.76172 7.11328 5.66211 6.85352 5.46289 6.67773C5.26367 6.50195 4.9707 6.41406 4.58398 6.41406H4.10352V8.48828H4.67188C5.39844 8.48828 5.76172 8.14453 5.76172 7.45703ZM13.8066 13L13.1797 11.1895C13.0586 10.834 12.9004 10.5547 12.7051 10.3516C12.5137 10.1484 12.3047 10.0469 12.0781 10.0469H11.9785V13H9.44727V4.59766H12.8105C13.9863 4.59766 14.8535 4.79102 15.4121 5.17773C15.9746 5.56055 16.2559 6.13672 16.2559 6.90625C16.2559 7.48438 16.0918 7.96875 15.7637 8.35938C15.4395 8.75 14.9551 9.0332 14.3105 9.20898V9.23242C14.666 9.3418 14.9609 9.51953 15.1953 9.76562C15.4336 10.0117 15.6465 10.377 15.834 10.8613L16.6602 13H13.8066ZM13.5664 7.26367C13.5664 6.98242 13.4805 6.75977 13.3086 6.5957C13.1367 6.43164 12.8672 6.34961 12.5 6.34961H11.9785V8.27148H12.4355C12.7754 8.27148 13.0488 8.17578 13.2559 7.98438C13.4629 7.79297 13.5664 7.55273 13.5664 7.26367ZM25.6309 8.77539C25.6309 9.61914 25.4492 10.375 25.0859 11.043C24.7227 11.707 24.2148 12.2246 23.5625 12.5957C22.9102 12.9629 22.1797 13.1465 21.3711 13.1465C20.582 13.1465 19.8633 12.9688 19.2148 12.6133C18.5703 12.2539 18.0684 11.752 17.709 11.1074C17.3496 10.459 17.1699 9.72656 17.1699 8.91016C17.1699 8.05469 17.3516 7.28516 17.7148 6.60156C18.0781 5.91797 18.5879 5.39062 19.2441 5.01953C19.9004 4.64453 20.6465 4.45703 21.4824 4.45703C22.2871 4.45703 23.0059 4.63672 23.6387 4.99609C24.2754 5.35156 24.7656 5.86133 25.1094 6.52539C25.457 7.18555 25.6309 7.93555 25.6309 8.77539ZM22.9473 8.8457C22.9473 8.1543 22.8145 7.60938 22.5488 7.21094C22.2832 6.8125 21.9199 6.61328 21.459 6.61328C20.9551 6.61328 20.5625 6.80469 20.2812 7.1875C20 7.57031 19.8594 8.11133 19.8594 8.81055C19.8594 9.49414 19.998 10.0273 20.2754 10.4102C20.5566 10.793 20.9375 10.9844 21.418 10.9844C21.7109 10.9844 21.9746 10.8984 22.209 10.7266C22.4434 10.5547 22.625 10.3086 22.7539 9.98828C22.8828 9.66797 22.9473 9.28711 22.9473 8.8457Z" transform="translate(9 7)" fill="white"/>
                    </svg>
                </div>
                <div class="person-block-data">
                    <div class="person-block-data-photo">
                        <img src="/images/person1.png" alt="Photo">
                    </div>
                    <div class="person-block-data-name">Karina Marshova</div>
                    <div class="person-block-data-city">Las Vegas, USA</div>
                    <div class="person-block-data-job">Моделінг: Фотомодель</div>
                </div>
                <div class="person-block-info">
                    <div class="person-block-info-star">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0H32V32H4C1.79086 32 0 30.2091 0 28V0Z" fill="#FFD200"/>
                            <path d="M8.37615 0.38413C8.49382 0.149042 8.73613 9.52471e-09 9.00097 9.52471e-09C9.26581 9.52471e-09 9.50851 0.149042 9.62579 0.38413L11.8668 4.87653C11.9682 5.07973 12.1647 5.22071 12.3918 5.25336L17.4036 5.9736C17.6665 6.01125 17.884 6.19333 17.9659 6.44263C18.0478 6.69193 17.9795 6.9662 17.7896 7.14904L14.1634 10.6462C13.9991 10.8044 13.9242 11.0326 13.9626 11.2562L14.8185 16.1941C14.8628 16.4531 14.756 16.7143 14.5408 16.8687C14.3261 17.0223 14.0422 17.0427 13.8069 16.9213L9.32406 14.5896C9.12135 14.484 8.87865 14.484 8.67555 14.5896L4.19271 16.9209C3.95816 17.0427 3.67351 17.0227 3.45877 16.8687C3.24402 16.7146 3.13684 16.4531 3.1815 16.1941L4.03737 11.2562C4.07621 11.0326 4.00087 10.8044 3.83661 10.6462L0.210412 7.14904C0.02052 6.96581 -0.0478256 6.69193 0.0341114 6.44263C0.116048 6.19333 0.3339 6.01125 0.596797 5.9736L5.60932 5.25336C5.83611 5.22071 6.0326 5.07973 6.13395 4.87615L8.37615 0.38413Z" transform="translate(7 7)" fill="white"/>
                        </svg>
                    </div>
                    <div class="person-block-info-view">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#A1A1A1"/>
                            <path d="M5 -6.45073e-08C2.79435 -6.45073e-08 0.893365 1.28095 0.0201148 3.12944C-0.00670493 3.18546 -0.00670493 3.25099 0.0201148 3.30806C0.893365 5.15654 2.79436 6.4375 5 6.4375C7.20564 6.4375 9.10664 5.15655 9.97989 3.30806C10.0067 3.25204 10.0067 3.18652 9.97989 3.12944C9.10664 1.28095 7.20565 -6.45073e-08 5 -6.45073e-08ZM5 5.43981C3.75449 5.43981 2.74607 4.44527 2.74607 3.21928C2.74607 1.99223 3.75557 0.998758 5 0.998758C6.24551 0.998758 7.25393 1.99329 7.25393 3.21928C7.25393 4.44527 6.24443 5.43981 5 5.43981Z" transform="translate(3 4.78125)" fill="white"/>
                            <path d="M1.4429 2.84303C2.23979 2.84303 2.8858 2.20659 2.8858 1.42151C2.8858 0.636433 2.23979 0 1.4429 0C0.646009 0 0 0.636433 0 1.42151C0 2.20659 0.646009 2.84303 1.4429 2.84303Z" transform="translate(6.55664 6.57794)" fill="white"/>
                            </svg>
                        </span>
                        <span>367</span>
                    </div>
                    <div class="person-block-info-like">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#D81F20"/>
                            <path d="M7.98678 2.08733C7.87 0.877733 6.96025 0.000144796 5.82172 0.000144796C5.06321 0.000144796 4.3687 0.38428 3.97791 0.999938C3.59065 0.376316 2.92461 -3.59021e-09 2.17826 -3.59021e-09C1.03988 -3.59021e-09 0.129972 0.877588 0.013349 2.08719C0.00411769 2.14061 -0.0337309 2.4218 0.0813534 2.88036C0.24721 3.54177 0.630311 4.14339 1.18896 4.61975L3.97606 7L6.81101 4.6199C7.36966 4.14339 7.75276 3.54192 7.91862 2.88036C8.0337 2.42195 7.99585 2.14076 7.98678 2.08733Z" transform="translate(4 5)" fill="white"/>
                            </svg>
                        </span>
                        <span>145</span>
                    </div>
                </div>
            </a>
            <a href="/singleTalant" class="person-block">
                <div class="person-block-pro">
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.123291 0H35C37.2092 0 39 1.79086 39 4V38.8768C38.0107 38.9584 37.0103 39 36 39C16.1177 39 0 22.8823 0 3C0 1.98975 0.041748 0.989197 0.123291 0Z" fill="#D81F20"/>
                        <path d="M8.43945 7.36914C8.43945 7.94336 8.29297 8.45312 8 8.89844C7.71094 9.34375 7.29688 9.68945 6.75781 9.93555C6.21875 10.1777 5.5918 10.2988 4.87695 10.2988H4.10352V13H1.57227V4.59766H5.01758C6.20117 4.59766 7.06641 4.82227 7.61328 5.27148C8.16406 5.7207 8.43945 6.41992 8.43945 7.36914ZM5.76172 7.45703C5.76172 7.11328 5.66211 6.85352 5.46289 6.67773C5.26367 6.50195 4.9707 6.41406 4.58398 6.41406H4.10352V8.48828H4.67188C5.39844 8.48828 5.76172 8.14453 5.76172 7.45703ZM13.8066 13L13.1797 11.1895C13.0586 10.834 12.9004 10.5547 12.7051 10.3516C12.5137 10.1484 12.3047 10.0469 12.0781 10.0469H11.9785V13H9.44727V4.59766H12.8105C13.9863 4.59766 14.8535 4.79102 15.4121 5.17773C15.9746 5.56055 16.2559 6.13672 16.2559 6.90625C16.2559 7.48438 16.0918 7.96875 15.7637 8.35938C15.4395 8.75 14.9551 9.0332 14.3105 9.20898V9.23242C14.666 9.3418 14.9609 9.51953 15.1953 9.76562C15.4336 10.0117 15.6465 10.377 15.834 10.8613L16.6602 13H13.8066ZM13.5664 7.26367C13.5664 6.98242 13.4805 6.75977 13.3086 6.5957C13.1367 6.43164 12.8672 6.34961 12.5 6.34961H11.9785V8.27148H12.4355C12.7754 8.27148 13.0488 8.17578 13.2559 7.98438C13.4629 7.79297 13.5664 7.55273 13.5664 7.26367ZM25.6309 8.77539C25.6309 9.61914 25.4492 10.375 25.0859 11.043C24.7227 11.707 24.2148 12.2246 23.5625 12.5957C22.9102 12.9629 22.1797 13.1465 21.3711 13.1465C20.582 13.1465 19.8633 12.9688 19.2148 12.6133C18.5703 12.2539 18.0684 11.752 17.709 11.1074C17.3496 10.459 17.1699 9.72656 17.1699 8.91016C17.1699 8.05469 17.3516 7.28516 17.7148 6.60156C18.0781 5.91797 18.5879 5.39062 19.2441 5.01953C19.9004 4.64453 20.6465 4.45703 21.4824 4.45703C22.2871 4.45703 23.0059 4.63672 23.6387 4.99609C24.2754 5.35156 24.7656 5.86133 25.1094 6.52539C25.457 7.18555 25.6309 7.93555 25.6309 8.77539ZM22.9473 8.8457C22.9473 8.1543 22.8145 7.60938 22.5488 7.21094C22.2832 6.8125 21.9199 6.61328 21.459 6.61328C20.9551 6.61328 20.5625 6.80469 20.2812 7.1875C20 7.57031 19.8594 8.11133 19.8594 8.81055C19.8594 9.49414 19.998 10.0273 20.2754 10.4102C20.5566 10.793 20.9375 10.9844 21.418 10.9844C21.7109 10.9844 21.9746 10.8984 22.209 10.7266C22.4434 10.5547 22.625 10.3086 22.7539 9.98828C22.8828 9.66797 22.9473 9.28711 22.9473 8.8457Z" transform="translate(9 7)" fill="white"/>
                    </svg>
                </div>
                <div class="person-block-data">
                    <div class="person-block-data-photo">
                        <img src="/images/person1.png" alt="Photo">
                    </div>
                    <div class="person-block-data-name">Karina Marshova</div>
                    <div class="person-block-data-city">Las Vegas, USA</div>
                    <div class="person-block-data-job">Моделінг: Фотомодель</div>
                </div>
                <div class="person-block-info">
                    <div class="person-block-info-star">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0H32V32H4C1.79086 32 0 30.2091 0 28V0Z" fill="#FFD200"/>
                            <path d="M8.37615 0.38413C8.49382 0.149042 8.73613 9.52471e-09 9.00097 9.52471e-09C9.26581 9.52471e-09 9.50851 0.149042 9.62579 0.38413L11.8668 4.87653C11.9682 5.07973 12.1647 5.22071 12.3918 5.25336L17.4036 5.9736C17.6665 6.01125 17.884 6.19333 17.9659 6.44263C18.0478 6.69193 17.9795 6.9662 17.7896 7.14904L14.1634 10.6462C13.9991 10.8044 13.9242 11.0326 13.9626 11.2562L14.8185 16.1941C14.8628 16.4531 14.756 16.7143 14.5408 16.8687C14.3261 17.0223 14.0422 17.0427 13.8069 16.9213L9.32406 14.5896C9.12135 14.484 8.87865 14.484 8.67555 14.5896L4.19271 16.9209C3.95816 17.0427 3.67351 17.0227 3.45877 16.8687C3.24402 16.7146 3.13684 16.4531 3.1815 16.1941L4.03737 11.2562C4.07621 11.0326 4.00087 10.8044 3.83661 10.6462L0.210412 7.14904C0.02052 6.96581 -0.0478256 6.69193 0.0341114 6.44263C0.116048 6.19333 0.3339 6.01125 0.596797 5.9736L5.60932 5.25336C5.83611 5.22071 6.0326 5.07973 6.13395 4.87615L8.37615 0.38413Z" transform="translate(7 7)" fill="white"/>
                        </svg>
                    </div>
                    <div class="person-block-info-view">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#A1A1A1"/>
                            <path d="M5 -6.45073e-08C2.79435 -6.45073e-08 0.893365 1.28095 0.0201148 3.12944C-0.00670493 3.18546 -0.00670493 3.25099 0.0201148 3.30806C0.893365 5.15654 2.79436 6.4375 5 6.4375C7.20564 6.4375 9.10664 5.15655 9.97989 3.30806C10.0067 3.25204 10.0067 3.18652 9.97989 3.12944C9.10664 1.28095 7.20565 -6.45073e-08 5 -6.45073e-08ZM5 5.43981C3.75449 5.43981 2.74607 4.44527 2.74607 3.21928C2.74607 1.99223 3.75557 0.998758 5 0.998758C6.24551 0.998758 7.25393 1.99329 7.25393 3.21928C7.25393 4.44527 6.24443 5.43981 5 5.43981Z" transform="translate(3 4.78125)" fill="white"/>
                            <path d="M1.4429 2.84303C2.23979 2.84303 2.8858 2.20659 2.8858 1.42151C2.8858 0.636433 2.23979 0 1.4429 0C0.646009 0 0 0.636433 0 1.42151C0 2.20659 0.646009 2.84303 1.4429 2.84303Z" transform="translate(6.55664 6.57794)" fill="white"/>
                            </svg>
                        </span>
                        <span>367</span>
                    </div>
                    <div class="person-block-info-like">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#D81F20"/>
                            <path d="M7.98678 2.08733C7.87 0.877733 6.96025 0.000144796 5.82172 0.000144796C5.06321 0.000144796 4.3687 0.38428 3.97791 0.999938C3.59065 0.376316 2.92461 -3.59021e-09 2.17826 -3.59021e-09C1.03988 -3.59021e-09 0.129972 0.877588 0.013349 2.08719C0.00411769 2.14061 -0.0337309 2.4218 0.0813534 2.88036C0.24721 3.54177 0.630311 4.14339 1.18896 4.61975L3.97606 7L6.81101 4.6199C7.36966 4.14339 7.75276 3.54192 7.91862 2.88036C8.0337 2.42195 7.99585 2.14076 7.98678 2.08733Z" transform="translate(4 5)" fill="white"/>
                            </svg>
                        </span>
                        <span>145</span>
                    </div>
                </div>
            </a>
            <a href="/singleTalant" class="person-block active">
                <div class="person-block-pro">
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.123291 0H35C37.2092 0 39 1.79086 39 4V38.8768C38.0107 38.9584 37.0103 39 36 39C16.1177 39 0 22.8823 0 3C0 1.98975 0.041748 0.989197 0.123291 0Z" fill="#D81F20"/>
                        <path d="M8.43945 7.36914C8.43945 7.94336 8.29297 8.45312 8 8.89844C7.71094 9.34375 7.29688 9.68945 6.75781 9.93555C6.21875 10.1777 5.5918 10.2988 4.87695 10.2988H4.10352V13H1.57227V4.59766H5.01758C6.20117 4.59766 7.06641 4.82227 7.61328 5.27148C8.16406 5.7207 8.43945 6.41992 8.43945 7.36914ZM5.76172 7.45703C5.76172 7.11328 5.66211 6.85352 5.46289 6.67773C5.26367 6.50195 4.9707 6.41406 4.58398 6.41406H4.10352V8.48828H4.67188C5.39844 8.48828 5.76172 8.14453 5.76172 7.45703ZM13.8066 13L13.1797 11.1895C13.0586 10.834 12.9004 10.5547 12.7051 10.3516C12.5137 10.1484 12.3047 10.0469 12.0781 10.0469H11.9785V13H9.44727V4.59766H12.8105C13.9863 4.59766 14.8535 4.79102 15.4121 5.17773C15.9746 5.56055 16.2559 6.13672 16.2559 6.90625C16.2559 7.48438 16.0918 7.96875 15.7637 8.35938C15.4395 8.75 14.9551 9.0332 14.3105 9.20898V9.23242C14.666 9.3418 14.9609 9.51953 15.1953 9.76562C15.4336 10.0117 15.6465 10.377 15.834 10.8613L16.6602 13H13.8066ZM13.5664 7.26367C13.5664 6.98242 13.4805 6.75977 13.3086 6.5957C13.1367 6.43164 12.8672 6.34961 12.5 6.34961H11.9785V8.27148H12.4355C12.7754 8.27148 13.0488 8.17578 13.2559 7.98438C13.4629 7.79297 13.5664 7.55273 13.5664 7.26367ZM25.6309 8.77539C25.6309 9.61914 25.4492 10.375 25.0859 11.043C24.7227 11.707 24.2148 12.2246 23.5625 12.5957C22.9102 12.9629 22.1797 13.1465 21.3711 13.1465C20.582 13.1465 19.8633 12.9688 19.2148 12.6133C18.5703 12.2539 18.0684 11.752 17.709 11.1074C17.3496 10.459 17.1699 9.72656 17.1699 8.91016C17.1699 8.05469 17.3516 7.28516 17.7148 6.60156C18.0781 5.91797 18.5879 5.39062 19.2441 5.01953C19.9004 4.64453 20.6465 4.45703 21.4824 4.45703C22.2871 4.45703 23.0059 4.63672 23.6387 4.99609C24.2754 5.35156 24.7656 5.86133 25.1094 6.52539C25.457 7.18555 25.6309 7.93555 25.6309 8.77539ZM22.9473 8.8457C22.9473 8.1543 22.8145 7.60938 22.5488 7.21094C22.2832 6.8125 21.9199 6.61328 21.459 6.61328C20.9551 6.61328 20.5625 6.80469 20.2812 7.1875C20 7.57031 19.8594 8.11133 19.8594 8.81055C19.8594 9.49414 19.998 10.0273 20.2754 10.4102C20.5566 10.793 20.9375 10.9844 21.418 10.9844C21.7109 10.9844 21.9746 10.8984 22.209 10.7266C22.4434 10.5547 22.625 10.3086 22.7539 9.98828C22.8828 9.66797 22.9473 9.28711 22.9473 8.8457Z" transform="translate(9 7)" fill="white"/>
                    </svg>
                </div>
                <div class="person-block-data">
                    <div class="person-block-data-photo">
                        <img src="/images/person1.png" alt="Photo">
                    </div>
                    <div class="person-block-data-name">Karina Marshova</div>
                    <div class="person-block-data-city">Las Vegas, USA</div>
                    <div class="person-block-data-job">Моделінг: Фотомодель</div>
                </div>
                <div class="person-block-info">
                    <div class="person-block-info-star">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0H32V32H4C1.79086 32 0 30.2091 0 28V0Z" fill="#FFD200"/>
                            <path d="M8.37615 0.38413C8.49382 0.149042 8.73613 9.52471e-09 9.00097 9.52471e-09C9.26581 9.52471e-09 9.50851 0.149042 9.62579 0.38413L11.8668 4.87653C11.9682 5.07973 12.1647 5.22071 12.3918 5.25336L17.4036 5.9736C17.6665 6.01125 17.884 6.19333 17.9659 6.44263C18.0478 6.69193 17.9795 6.9662 17.7896 7.14904L14.1634 10.6462C13.9991 10.8044 13.9242 11.0326 13.9626 11.2562L14.8185 16.1941C14.8628 16.4531 14.756 16.7143 14.5408 16.8687C14.3261 17.0223 14.0422 17.0427 13.8069 16.9213L9.32406 14.5896C9.12135 14.484 8.87865 14.484 8.67555 14.5896L4.19271 16.9209C3.95816 17.0427 3.67351 17.0227 3.45877 16.8687C3.24402 16.7146 3.13684 16.4531 3.1815 16.1941L4.03737 11.2562C4.07621 11.0326 4.00087 10.8044 3.83661 10.6462L0.210412 7.14904C0.02052 6.96581 -0.0478256 6.69193 0.0341114 6.44263C0.116048 6.19333 0.3339 6.01125 0.596797 5.9736L5.60932 5.25336C5.83611 5.22071 6.0326 5.07973 6.13395 4.87615L8.37615 0.38413Z" transform="translate(7 7)" fill="white"/>
                        </svg>
                    </div>
                    <div class="person-block-info-view">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#A1A1A1"/>
                            <path d="M5 -6.45073e-08C2.79435 -6.45073e-08 0.893365 1.28095 0.0201148 3.12944C-0.00670493 3.18546 -0.00670493 3.25099 0.0201148 3.30806C0.893365 5.15654 2.79436 6.4375 5 6.4375C7.20564 6.4375 9.10664 5.15655 9.97989 3.30806C10.0067 3.25204 10.0067 3.18652 9.97989 3.12944C9.10664 1.28095 7.20565 -6.45073e-08 5 -6.45073e-08ZM5 5.43981C3.75449 5.43981 2.74607 4.44527 2.74607 3.21928C2.74607 1.99223 3.75557 0.998758 5 0.998758C6.24551 0.998758 7.25393 1.99329 7.25393 3.21928C7.25393 4.44527 6.24443 5.43981 5 5.43981Z" transform="translate(3 4.78125)" fill="white"/>
                            <path d="M1.4429 2.84303C2.23979 2.84303 2.8858 2.20659 2.8858 1.42151C2.8858 0.636433 2.23979 0 1.4429 0C0.646009 0 0 0.636433 0 1.42151C0 2.20659 0.646009 2.84303 1.4429 2.84303Z" transform="translate(6.55664 6.57794)" fill="white"/>
                            </svg>
                        </span>
                        <span>367</span>
                    </div>
                    <div class="person-block-info-like">
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="#D81F20"/>
                            <path d="M7.98678 2.08733C7.87 0.877733 6.96025 0.000144796 5.82172 0.000144796C5.06321 0.000144796 4.3687 0.38428 3.97791 0.999938C3.59065 0.376316 2.92461 -3.59021e-09 2.17826 -3.59021e-09C1.03988 -3.59021e-09 0.129972 0.877588 0.013349 2.08719C0.00411769 2.14061 -0.0337309 2.4218 0.0813534 2.88036C0.24721 3.54177 0.630311 4.14339 1.18896 4.61975L3.97606 7L6.81101 4.6199C7.36966 4.14339 7.75276 3.54192 7.91862 2.88036C8.0337 2.42195 7.99585 2.14076 7.98678 2.08733Z" transform="translate(4 5)" fill="white"/>
                            </svg>
                        </span>
                        <span>145</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="fluid pagination">
        <div class="container">
            <div class="pagination-block">
                <div class="items">
                    <div class="item dprev">
                        <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.5 0L0 6.5L6.5 13" transform="translate(2 1)" stroke="#C4C4C4" stroke-width="2"/>
                        </svg>
                        <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.5 0L0 6.5L6.5 13" transform="translate(2 1)" stroke="#C4C4C4" stroke-width="2"/>
                        </svg>
                    </div>
                    <div class="item prev">
                        <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.5 0L0 6.5L6.5 13" transform="translate(2 1)" stroke="#C4C4C4" stroke-width="2"/>
                        </svg>
                    </div>
                    <div class="item">31</div>
                    <div class="item active">32</div>
                    <div class="item">...</div>
                    <div class="item">478</div>
                    <div class="item">479</div>
                    <div class="item next">
                        <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.5 0L0 6.5L6.5 13" transform="translate(8 1) scale(-1 1)" stroke="#C4C4C4" stroke-width="2"/>
                        </svg>
                    </div>
                    <div class="item dnext">
                        <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.5 0L0 6.5L6.5 13" transform="translate(8 1) scale(-1 1)" stroke="#C4C4C4" stroke-width="2"/>
                        </svg>
                        <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.5 0L0 6.5L6.5 13" transform="translate(8 1) scale(-1 1)" stroke="#C4C4C4" stroke-width="2"/>
                        </svg>
                    </div>
                </div>
                <div class="item check">
                    <span>№</span>
                    <span>
                        <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 7.27273L3.06667 4.36364L9.2 10.1818L19.9333 0L23 2.90909L9.2 16L0 7.27273Z" fill="#C4C4C4"/>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer %>
</body>
</html>